<header>
  <h1>
    <i class="fa fa-fw fa-university"></i>
    <span>{{ clubName }}</span>
  </h1>
</header>

<!-- View data -->
<div class="table-responsive">
  <table *ngIf="!isEdit" [title]="'Click to edit' | translate" (click)="edit()">
    <tr>
      <th translate>Name</th>
      <td>{{ club.name }}</td>
    </tr>
  </table>
</div>

<!-- Edit data -->
<form [formGroup]="clubForm" (ngSubmit)="save()" *ngIf="isEdit">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <app-club-lookup [formControl]="clubCtrl"></app-club-lookup>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <app-save-button buttonType="submit" [disabled]="clubForm.invalid || clubForm.pristine"></app-save-button>
      <button mat-raised-button type="button" [title]="'Cancel' | translate" (click)="cancel()" aria-label="Cancel"><i class="fa fa-fw fa-ban"></i> <span
              translate>Cancel</span></button>
      <button mat-raised-button appHttpAction type="button" *ngIf="clubForm.value.id" [title]="'Delete' | translate" class="pull-right mat-warn" (click)="delete()"
              aria-label="Delete"><i class="fa fa-fw fa-trash"></i>
        <span translate>Delete</span></button>
    </mat-card-actions>
  </mat-card>
</form>

<!-- Tab list -->
<menu mat-tab-nav-bar *ngIf="clubForm.value.id">
  <a mat-tab-link routerLink="./members" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" [routerLinkActive]="['active']"
     *ngIf="user.role >= roles.Admin || user.clubId === clubForm.value.id" aria-label="Members">
    <i class="fa fa-fw fa-id-card-o"></i> <span translate>Members</span>
  </a>
  <a mat-tab-link routerLink="./troops" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" [routerLinkActive]="['active']"
     *ngIf="user.role >= roles.Admin || user.clubId === clubForm.value.id" aria-label="Teams">
    <i class="fa fa-fw fa-group"></i> <span translate>Teams</span>
  </a>
  <a mat-tab-link routerLink="./media" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" [routerLinkActive]="['active']"
     *ngIf="user.role >= roles.Admin || user.clubId === clubForm.value.id" aria-label="Media">
    <i class="fa fa-fw fa-volume-up"></i> <span translate>Media</span>
  </a>
  <a mat-tab-link routerLink="./statistics" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive" [routerLinkActive]="['active']"
     *ngIf="user.role >= roles.Admin || user.clubId === clubForm.value.id" aria-label="Statistics">
    <i class="fa fa-fw fa-line-chart"></i> <span translate>Statistics</span>
  </a>
</menu>

<div class="sub-routes">
  <router-outlet></router-outlet>
</div>
