<header>
  <h1>
    <fa name="map-marker" fw="true"></fa>
    <span>{{ venueName }}</span>
  </h1>
</header>

<!-- Edit data -->
<form class="panel" [formGroup]="venueForm" (submit)="save()">
  <fieldset>
    <div class="row">
      <div class="col-5" appFloatingLabelContainer>
        <label translate for="name">Name</label>
        <input type="text" id="name" formControlName="name"/>
      </div>
    </div>

    <div class="row">
      <div class="col-6" appFloatingLabelContainer>
        <label translate for="address">Address</label>
        <app-typeahead itemText="formatted_address" [items]="adresses" [getMatches]="getAddressMatchesFn()" formControlName="address" [(selectedItem)]="selectedAddress"></app-typeahead>
        <!-- <input type="text" id="address" formControlName="address"/> -->
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-6" appFloatingLabelContainer>
            <label translate>Longitude</label>
            <input type="number" formControlName="longitude" [attr.disabled]="true"/>
          </div>
          <div class="col-6" appFloatingLabelContainer>
            <label translate>Latitude</label>
            <input type="number" formControlName="latitude" [attr.disabled]="true"/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-5" appFloatingLabelContainer>
        <label translate for="contact">Contact Name</label>
        <input type="text" id="contact" formControlName="contact"/>
      </div>
      <div class="col-3" appFloatingLabelContainer>
        <label translate for="contactPhone">Phone</label>
        <input type="tel" id="contactPhone" formControlName="contactPhone"/>
      </div>
      <div class="col-4" appFloatingLabelContainer>
        <label translate for="contactEmail">Email</label>
        <input type="email" id="contactEmail" formControlName="contactEmail"/>
      </div>
    </div>

    <div class="row">
      <div class="col-5" appFloatingLabelContainer>
        <label translate for="rentalCost">Rental cost</label>
        <input type="number" id="rentalCost" formControlName="rentalCost"/>
      </div>
    </div>

    <div class="row">
      <div class="col-5" appFloatingLabelContainer>
        <label translate for="capacity">Capacity</label>
        <input type="number" id="capacity" formControlName="capacity"/>
      </div>
    </div>
  </fieldset>

  <footer>
    <app-save-button buttonType="submit" [disabled]="venueForm.invalid || venueForm.pristine"></app-save-button>
    <button type="button" [title]="'Cancel' | translate" (click)="cancel()"><fa name="ban" fw="true"></fa> <span translate>Cancel</span></button>
    <button type="button" *ngIf="venueForm.value.id" [title]="'Delete' | translate" class="pull-right warning" (click)="delete()"><fa name="trash" fw="true"></fa> <span translate>Delete</span></button>
  </footer>

  <agm-map [latitude]="venueForm.value.latitude" [longitude]="venueForm.value.longitude" [zoom]="17">
    <agm-marker [latitude]="venueForm.value.latitude"
                [longitude]="venueForm.value.longitude"
                [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)">
      <agm-info-window [isOpen]="true">
        {{ venueForm.value.name }}
      </agm-info-window>
    </agm-marker>
  </agm-map>
</form>

