<div class="table-responsive">
  <table role="list">
    <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Age Division</th>
        <th translate>Members</th>
      </tr>
    </thead>
    <tbody *ngFor="let team of teamList">
      <tr role="listitem">
        <td>{{ team.name }}</td>
        <td>{{ ageDivision(team) }}</td>
        <td>{{ members(team) }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button type="button" *ngIf="selected == null" [title]="'Add' | translate" (click)="addTeam()">
  <app-fa name="plus" fw="true"></app-fa>
  <span translate>Add Team</span>
</button>
<button type="button" *ngIf="selected == null" [title]="'Generate' | translate" (click)="generateTeams()">
  <app-fa name="magic" fw="true"></app-fa>
  <span translate>Generate teams from members</span>
</button>
