@import "~styles/variables";
@import "~styles/panel";
:host /deep/ {
  .mat-card-avatar {
    padding-top: 2px;
    padding-left: 7px;
  }
  // Group sections
  app-score-group,
  section {
    @include innerPanel;
    white-space: nowrap;
    box-shadow: 1px 1px 3px rgba(black, 0.3);
    margin: 0 $margin $margin 0;
    display: table-cell;
    padding: $padding $padding 2.3rem $padding;
    overflow: hidden;
    text-align: center;
    position: relative;
    @media (max-width: $stop1) {
      float: left;
      width: calc(50% - 3px);
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    @media (max-width: $stop2) {
      width: 100%;
    }
    header {
      font-weight: bold;
      margin: $negPad $negPad 0 $negPad;
      padding: $padding;
      color: rgba(black, 0.7);
    }
    footer {
      padding: 0.2rem $padding 0 $padding;
      border-top: 1px solid #ddd;
      text-align: left;
      box-shadow: 0 3px 22px -7px rgba(black, 0.5) inset;
      height: 1.7rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      span {
        flex: 1;
        font-style: oblique;
        font-weight: bold;
        color: rgba(black, 0.7);
        @media (max-width: $stop1) {
          display: inline;
        }
      }
    }
  }
  // Final score box
  section.final {
    text-align: left;
    footer {
      padding: $padding ($padding * 2);
    }
    > div {
      display: flex;
      &:hover {
        background-color: rgba(black, 0.1);
        cursor: pointer;
      }
      span {
        flex: 1;
      }
    }
    label {
      margin: 0;
      small {
        position: absolute;
        left: 6rem;
      }
      &.small {
        display: none;
      }
    }
    @media (max-width: $stop1) {
      width: 100%;
      label {
        &.small {
          display: inline-block;
        }
        &.large {
          display: none;
        }
      }
    }
    footer {
      font-weight: bold;
    }
  }
  // Avg or total score numbers
  code {
    font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    float: right;
    font-size: 0.86rem;
    vertical-align: bottom;
  }
}

header>h3 {
  margin: 12px 24px;
}

form>footer>div.warning {
  line-height: 40px;
}
