<mat-nav-list>
  <mat-list-item *ngIf="canStart()" (click)="start()">
    <i matListIcon class="fa fa-fw fa-play"></i>
    <span matLine translate>Start</span>
  </mat-list-item>

  <mat-list-item *ngIf="canEdit() && !isTraining && participant != null && participant.startTime != null" (click)="edit()">
    <i matListIcon class="fa fa-fw fa-edit"></i>
    <span matLine translate>Edit score</span>
  </mat-list-item>

  <mat-list-item *ngIf="participant.startTime != null && participant.endTime == null && !hasScores" (click)="stop()">
    <i matListIcon class="fa fa-fw fa-stop"></i>
    <span matLine translate>Stop</span>
  </mat-list-item>

  <mat-list-item *ngIf="hasScores && participant.publishTime == null" (click)="publish()">
    <i matListIcon class="fa fa-fw fa-share"></i>
    <span matLine translate>Publish</span>
  </mat-list-item>

  <mat-list-item *ngIf="hasScores && (!isPublished || currentUser.role >= roles.Organizer)" (click)="delete()">
    <i matListIcon class="fa fa-fw fa-trash"></i>
    <span matLine *ngIf="participant.publishTime == null && participant.endTime == null" translate>Delete</span>
    <span matLine *ngIf="participant.publishTime == null && participant.endTime != null" translate>Empty scores</span>
    <span matLine *ngIf="participant.publishTime != null" translate>Allready published!</span>
  </mat-list-item>

  <mat-list-item *ngIf="hasEnded && currentUser.role >= roles.Organizer" (click)="rollback()">
    <i matListIcon class="fa fa-fw fa-undo"></i>
    <span matLine translate>Rollback</span>
  </mat-list-item>
</mat-nav-list>
