<mat-table #table [dataSource]="teamSource" role="menu">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef>{{'Name' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let team">{{ team.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ageGroup">
    <mat-header-cell *matHeaderCellDef>{{'Age group' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let team">{{ ageDivision(team) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="genderGroup">
    <mat-header-cell *matHeaderCellDef>{{'Gender group' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let team">{{ genderDivision(team) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="members">
    <mat-header-cell *matHeaderCellDef>{{'Members' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let team">{{ members(team) }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let team; columns: displayedColumns; let index=index" #dataRow (click)="select(team, index)"></mat-row>
</mat-table>

<button mat-raised-button class="mat-primary" type="button" [title]="'Add' | translate" (click)="addTeam()">
  <fa name="plus" fw="true"></fa>
  <span translate>Add Team</span>
</button>
<button mat-raised-button type="button" [title]="'Generate' | translate" (click)="generateTeams()">
  <fa name="magic" fw="true"></fa>
  <span translate>Generate teams from members</span>
</button>
