<div class="table-responsive">
  <table role="list">
    <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Age group</th>
        <th translate>Gender group</th>
        <th translate>Members</th>
      </tr>
    </thead>
    <tbody *ngFor="let team of teamList">
      <tr *ngIf="team !== selected" (click)="select(team)" role="listitem">
        <td>{{ team.name }}</td>
        <td>{{ ageDivision(team) }}</td>
        <td>{{ genderDivision(team) }}</td>
        <td>{{ members(team) }}</td>
      </tr>
      <tr *ngIf="team === selected">
        <td colspan="4">
          <app-troop-editor [troop]="selected" (troopChanged)="onChange($event)"></app-troop-editor>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button type="button" *ngIf="selected == null" [title]="'Add' | translate" (click)="addTeam()">
  <fa name="plus" fw="true"></fa>
  <span translate>Add Team</span>
</button>
<button type="button" *ngIf="selected == null" [title]="'Generate' | translate" (click)="generateTeams()">
  <fa name="magic" fw="true"></fa>
  <span translate>Generate teams from members</span>
</button>
