<h1>
  <fa name="trophy" fw="true"></fa>
  <span translate>Tournaments</span>
</h1>

<div class="table-responsive">
  <table role="list" class="editable" matSort (matSortChange)="sortData($event)">
    <thead>
      <tr>
        <th translate mat-sort-header="name">Name</th>
        <th translate mat-sort-header="startDate">Start date</th>
        <th translate mat-sort-header="endDate">End date</th>
        <th translate mat-sort-header="venue.name">Location</th>
        <th translate mat-sort-header="club.name">Organized by</th>
        <th translate *appIfAuth="'Admin'">Created by</th>
      </tr>
    </thead>
    <tbody *ngFor="let tournament of tournamentList">
      <tr [routerLink]="['.', tournament.id]" role="listitem">
        <td>{{ tournament.name }}</td>
        <td>{{ tournament.startDate | utcDate }}</td>
        <td>{{ tournament.endDate | utcDate }}</td>
        <td>{{ tournament.venue.name }}</td>
        <td>{{ tournament.club.name }}</td>
        <td *appIfAuth="'Admin'">{{ tournament.createdBy.name }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button type="button" [title]="'Add' | translate" [routerLink]="['./add']" *appIfAuth="'Organizer'">
  <fa name="plus" fw="true"></fa>
  <span translate>Add Tournament</span>
</button>
