<h1>
  <app-fa name="trophy" fw="true"></app-fa>
  Tournaments
</h1>

<table role="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody *ngFor="let tournament of tournamentList">
    <tr *ngIf="tournament !== selected" [routerLink]="['.', tournament.id]" role="listitem">
      <td>{{ tournament.name }}</td>
      <td>{{ tournament.startDate | date }}</td>
      <td>{{ tournament.endDate | date }}</td>
      <td>{{ tournament.location }}</td>
    </tr>
  </tbody>
</table>

<button *ngIf="selected == null" title="Add" [routerLink]="['./add']">
  <app-fa name="plus" fw="true"></app-fa>
  <span>Add Tournament</span>
</button>
