@import "~styles/variables";
menu {
  @supports (display: flex) {
    margin-top: 1rem;
  }
  @media (max-width: $stop1) {
    margin-top: 10px;
  }
  ::ng-deep .mat-nav-list {
    .mat-list-item {
      &.active {
        background: $primaryDark;
      }
      .mat-list-icon {
        font-size: inherit;
        line-height: 25px;
      }
      .mat-list-text {
        padding: 0 16px 0 0;
      }
    }
  }
}

section {
  min-height: 12rem;
  margin-left: 14rem;
  margin-top: 1rem;
  @media (max-width: $stop1) {
    margin-left: 0;
  }
}

