<menu>
  <ul>
    <li>
      <a routerLink="./tournament">
        <fa name="heartbeat" fw="true"></fa> <span>Tournaments</span> </a>
    </li>
    <li>
      <a routerLink="./divisions">
        <fa name="list" fw="true"></fa> <span>Divisions</span> </a>
    </li>
    <li>
      <a routerLink="./teams">
        <fa name="cubes" fw="true"></fa> <span>Teams</span></a>
    </li>
    <li>
      <a routerLink="./score">
        <fa name="star" fw="true"></fa> <span>Score system</span> </a>
    </li>
    <li>
      <a routerLink="./display">
        <fa name="tv" fw="true"></fa> <span>Display</span></a>
    </li>
    <li>
      <a routerLink="./advanced">
        <fa name="cogs" fw="true"></fa> <span>Advanced settings</span></a>
    </li>
  </ul>
</menu>

<section>
  <router-outlet></router-outlet>
</section>
