<div class="fixed-back"></div>

<div class="row">
  <div class="col-8 main-content">
    <section *ngIf="current.length">
      <div *ngFor="let tournament of current">
        <header>
          <small class="pull-right">{{ getDateSpan(tournament) }}</small>
          <h1>{{ tournament.name }}</h1>
        </header>

        <div><pre [innerHtml]="getDescription(tournament) | MarkdownToHtml"></pre></div>
        <a [routerLink]="['/event', tournament.id, 'list']" class="btn primary" *appIfAuth="true">
          <fa name="arrow-right" fw="true"></fa>
          <span translate>Go to scoreboard</span>
        </a>
        <a [routerLink]="['/event', tournament.id, 'results']" class="btn primary" *appIfAuth="false">
          <fa name="arrow-right" fw="true"></fa>
          <span translate>Go to results</span>
        </a>
      </div>
    </section>
    <section *ngIf="!current.length">
      <header>
        <h1 translate>No tournament today.</h1>
      </header>

      <span *ngIf="hasPast && hasFuture" translate>Come back later or checkout the past and future tournaments we have listed out for you on the right hand side.</span>
      <span *ngIf="hasPast && !hasFuture" translate>Come back later or checkout the past tournaments we have listed out for you on the right hand side.</span>
      <span *ngIf="!hasPast && hasFuture" translate>Come back later or checkout the future tournaments we have listed out for you on the right hand side.</span>
      <span *ngIf="!hasPast && !hasFuture" translate>Come back later.</span>
    </section>
  </div>

  <app-panel class="col-4" *ngIf="hasTournaments">
    <table class="table-hover" role="list" class="editable">
      <tbody *ngFor="let type of types;">
        <tr *ngIf="type.tournaments.length">
          <th colspan="2">{{ type.name | translate }} <span translate>tournaments</span></th>
        </tr>
        <tr *ngFor="let tournament of type.tournaments" role="menuitem" [routerLink]="['/event', tournament.id, 'list']" role="listitem">
          <td>{{ tournament.name }}</td>
          <td>{{ tournament.startDate | date: 'dd.MM.yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </app-panel>
</div>
