@import "~styles/variables";

.mat-card {
  padding: 0;
  overflow: hidden;
  .mat-subheader {
    border-bottom: 1px solid #bbb;
    background: rgba($primary, 0.8);
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    height: 1.3rem;
  }
  .flex {
    width: 100%;
  }
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $stop1) {
    margin-top: 4rem;
  }
}
.main-content {
  flex: 1;
  color: black;
  margin-bottom: 3rem;
  background: rgba(white,0.4);
  padding: 16px;
  border-radius: 8px;
  min-width: 400px;
  @media (max-width: $stop1) {
    min-width: 100%;
    border-radius: 0;
  }
  @media (min-width: $stop1) {
    margin-right: 1rem;
  }
  header {
    h1 {
      text-shadow: 0px 3px 10px black, 0 0 3px black;
      color: white;
      margin: 0 0 2rem 0;
    }
    small {
      margin-top: 1.2rem;
      margin-right: 2rem;
    }
  }
}

.tournament-list {
  @media (max-width: $stop1) {
    flex: 1;
  }
}
