:host {
  .fixed-back {
    +* {
      margin-top: 20%;
    }
  }
}

.main-content {
  color: white;
  text-shadow: 0 0 3px black;
  h1 {
    color: white;
  }
}

app-panel {
  width: 100%;
  table {
    margin: 0 -4px;
    width: calc(100% + 8px);
  }
  tbody {
    th {
      padding-top: 2rem;
      border-bottom: 1px solid #bbb;
    }
    &:first-child th {
      padding-top: 0;
    }
  }
}