@import "~styles/_variables";
:host {
  .fixed-back {
    +* {
      margin-top: 20%;
    }
  }
  /deep/ app-panel {
    width: 100%;
    >section {
      div {
        padding: 0 !important;
      }
    }
  }
  app-panel {
    table {
      width: 100%;
    }
    tbody {
      // border-bottom: 2rem solid transparent;
      th {
        padding-top: 0.5rem;
        border-bottom: 1px solid #bbb;
        background: $primary;
        color: white;
      }
    }
  }
}

.main-content {
  color: white;
  text-shadow: 0px 3px 10px black, 0 0 3px black;
  h1,
  a {
    display: inline-block;
    margin-top: 1rem;
    color: white;
  }
}