<form [formGroup]="troopForm" (submit)="save()">
  <md-card>
    <md-card-content>
      <div class="row">
        <div class="col-12" appFloatingLabelContainer>
          <label translate>Name</label>
          <input type="text" formControlName="name" appAutofocus>
        </div>
      </div>

      <br/>
      <div class="row">
        <app-member-selector [club]="club" [gymnasts]="troopForm.value.gymnasts" (gymnastsChange)="troopForm.markAsDirty()" [troopName]="troopForm.value.name" [memberListHidden]="memberListHidden"></app-member-selector>
      </div>
    </md-card-content>

    <md-card-actions>
      <app-save-button buttonType="submit" [disabled]="troopForm.invalid || troopForm.pristine"></app-save-button>
      <button type="button" [title]="'Cancel' | translate" (click)="close()"><fa name="ban" fw="true"></fa> <span translate>Cancel</span></button>
      <button type="button" *ngIf="troopForm.value.id" [title]="'Delete' | translate" class="pull-right warning" (click)="delete()"><fa name="trash" fw="true"></fa> <span translate>Delete</span></button>
    </md-card-actions>
  </md-card>
</form>
