@import '~styles/variables';
@import '~styles/panel';
:host {
  display: inline-block;
  >section {
    display: block;
    border-color: $primaryBorderColor;
    border-style: solid;
    border-width: 0; //1px;
    border-radius: $rounded;
    background: rgba(white, 0.9);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
    overflow: hidden;
    header {
      color: $primaryDark;
      font-size: 1.2em;
      font-weight: bold;
      border-bottom: 1px solid transparent;
      border-top-right-radius: $rounded;
      border-top-left-radius: $rounded;
      /deep/>.head {
        padding: 10px $padding;
        // font-size: 110%;
      }
    }
    div {
      padding: $padding;
    }
    footer {
      border-bottom-right-radius: $rounded;
      border-bottom-left-radius: $rounded;
      >* {
        margin: 10px $padding;
      }
    }
  }
}