<h1>
  <app-fa name="users" fw="true"></app-fa>
  <span translate>Users</span>
</h1>

<div class="table-responsive">
  <table role="list" class="editable">
    <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Role</th>
        <th translate>Club</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of userList">
      <tr [routerLink]="['.', user.id]" role="listitem">
        <td class="username">{{ user.name }}</td>
        <td class="rolename">{{ roleName(user) }}</td>
        <td class="clubname">{{ user.club ? user.club.name : '' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button type="button" [title]="'Add' | translate" [routerLink]="['./add']">
  <app-fa name="plus" fw="true"></app-fa>
  <span translate>Add User</span>
</button>
