<h1>
  <fa name="users" fw="true"></fa>
  <span translate>Users</span>
</h1>

<div class="table-responsive">
  <table role="list" class="editable" matSort (matSortChange)="sortData($event)">
    <thead>
      <tr>
        <th mat-sort-header="name">{{'Name' | translate}}</th>
        <th mat-sort-header="role">{{'Role' | translate}}</th>
        <th mat-sort-header="club.name">{{'Club' | translate}}</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of userList">
      <tr [routerLink]="['.', user.id]" role="listitem">
        <td class="username">{{ user.name }}</td>
        <td class="rolename">{{ roleName(user) }}</td>
        <td class="clubname">{{ user.club ? user.club.name : '' }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button mat-raised-button type="button" class="mat-primary" [title]="'Add' | translate" [routerLink]="['./add']">
  <fa name="plus" fw="true"></fa>
  <span translate>Add User</span>
</button>
