@import "variables";

@mixin btn() {
  $timer: 0.1s;
  padding: $padding * 3;
  margin: 0 2px 2px 2px;
  border: 0;
  //border: 1px solid $primaryDark;
  color: darken($primary, 50%);
  background-color: transparent;
  border-radius: $rounded;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.8);
  //box-shadow: 0 1px 3px rgba(white, 0.9) inset, 0 0 5px rgba(black, 0.3);
  //text-shadow: 1px 1px 3px rgba(black, 0.5);
  transition: padding $timer, box-shadow $timer, text-shadow $timer, color $timer, background-color 0.5s;
  cursor: pointer;
  &.raised, &:hover {
    box-shadow: 0 2px 7px -1px rgba(0, 0, 0, 0.8);
  }
  &:active, &:focus {
    outline: none;
    //box-shadow: 0 2px 10px -2px rgba(black, 0.5) inset;
    //text-shadow: 1px 1px 1px rgba(black, 0.5);
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.8);
  }
}
button {
  @include btn();
  &[type="submit"] {
    color: white;
    background: $primary;
  }
  &.warning {
    &:hover {
      color: white;
      background-color: $warning;
    }
  }
}
