.display {
  padding: 1%;
  .size-0 {
    font-size: 70%;
  }
  .size-1 {
    font-size: 85%;
    margin-bottom: 1em;
  }
  header, .size-2 {
    text-align: center;
    font-size: 120%;
    margin-bottom: 0.2em;
  }
  .size-3 {
    font-size: 150%;
  }
  .size-4 {
    font-size: 180%;
  }
  .size-5 {
    font-size: 200%;
  }
  .center {
    text-align: center;
  }
  em {
    font-style: inherit;
    font-weight: bold;
    min-width: 38%;
    display: inline-block;
    text-align: right;
  }
}
