@import "variables";

fieldset {
  border: 0;
}

form, .form {
  @media (min-width: $stop1) {
    .row {
      .mat-form-field {
        display: contents;
      }
    }
    .material-label > label {
      color: rgba(0, 0, 0, 0.54);
      transform: scale(0.8);
      transform-origin: left;
      display: block;
    }
    .mat-slide-toggle {
      display: block;
    }
  }
  mat-card-content {
    @media (max-width: 600px) {
      margin: 0 -8px 8px -8px;
    }
    margin: 0 -16px 16px -16px;
    fieldset {
      padding: 0;
    }
  }
  &.horizontal {
    >* {
      vertical-align: bottom;
    }
  }
}
