@import "variables";
@import "panel";

$inputHeight: 33px;
$labelHeight: 16px;

@mixin input() {
  display: block;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(black, 0.4);
  padding: ($padding * 2) $padding;
  min-height: $inputHeight;
  outline: none;
  margin: 2px;
  &:focus,
  &:active {
    border-color: rgba($primaryDark, 0.8);
    box-shadow: 0 -2px 2px -1px rgba($primary, 0.6) inset;
  }
}

fieldset {
  border: 0;
}

form.panel {
  @include panel;
  header {
    margin: $margin ($margin * 2) 0 ($margin * 2);
    padding: ($padding * 2) ($padding * 2) 0 ($padding * 2);
  }
  fieldset {
    @include innerPanel;
  }
}

form, .form {
  label {
    height: $labelHeight;
    font-size: 0.8rem;
    display: inline-block;
    padding: 0.1rem 0 0 $margin;
    margin-top: $margin * 2;
    &:first-of-type {
      margin-top: 0;
    }
  }
  &.horizontal {
    >* {
      vertical-align: bottom;
    }
  }
  input:not([type="checkbox"]),
  textarea,
  select {
    @include input();
    width: 99%;
    &.ng-invalid {
      border-color: red;
    }
  }
  [appFloatingLabelContainer] {
    position: relative;
    min-height: $labelHeight + $inputHeight;
    label {
      cursor: text;
    }
    label,
    input,
    textarea,
    select {
      transition: all 0.2s ease-in-out;
      touch-action: manipulation;
    }
    input,
    textarea {
      margin-top: $labelHeight;
    }
    select {
      margin-top: $labelHeight - 1;
    }
    label {
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      color: rgba(black, 0.6);
      transform: translate(5px, $labelHeight + 10) scale(1.2);
    }
    &.hasValue,
    &.hasFocus {
      label {
        transform: translate(0, 0) scale(1);
      }
    }
  }
}
