@import "./_variables";
html {
  background-color: #fefefe;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

body,
body * {
  box-sizing: border-box;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
}

h1,
h2,
h3,
h4 {
  color: lighten($text-color, 4%);
}

h1 {
  margin: 0.8rem 0 1rem 0;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

[role="table"] {
  display: table;
  border-collapse: separate;
  border-spacing: 0.3rem;
  width: 100%;
}

[role="row"] {
  display: table-row;
}

ul.unstyled {
  list-style: none;
  padding-left: 0;
}

.warning {
  color: darken($warning, 10%);
}

.clickable {
  cursor: pointer;
}

.flag-icon {
  filter: grayscale(80%) opacity(40%);
  &.selected {
    filter: grayscale(0%) opacity(100%);
  }
}