@import '~@angular/material/theming';
@import "variables";


@function create-palette($color) {
  @return (
    50: lighten($color, 50%),
    100: lighten($color, 40%),
    200: lighten($color, 30%),
    300: lighten($color, 20%),
    400: lighten($color, 10%),
    500: $color,
    600: darken($color, 10%),
    700: darken($color, 20%),
    800: darken($color, 30%),
    900: darken($color, 40%),
    A100: lighten($color, 30%),
    A200: lighten($color, 20%),
    A400: $color,
    A700: darken($color, 20%),
    contrast: (
      50: contrast(lighten($color, 50%)),
      100: contrast(lighten($color, 50%)),
      200: contrast(lighten($color, 50%)),
      300: contrast(lighten($color, 50%)),
      400: contrast(lighten($color, 50%)),
      500: white,
      600: white,
      700: white,
      800: white,
      900: white,
      A100: contrast(lighten($color, 50%)),
      A200: contrast(lighten($color, 50%)),
      A400: white,
      A700: white,
    )
  );
}

// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$gymsystems-primary: mat-palette(create-palette($primary));
$gymsystems-accent:  mat-palette(create-palette($accent));

// The warn palette is optional (defaults to red).
$gymsystems-warn:    mat-palette(create-palette($warning));

// Create the theme object (a Sass map containing all of the palettes).
$gymsystems-theme: mat-light-theme($gymsystems-primary, $gymsystems-accent, $gymsystems-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($gymsystems-theme);

.mat-form-field {
  line-height: 1.25;
}
