/**
 * Quick render for frontpage
 */
app-root {
  min-height: 100vh;
  // @supports (display: grid) {
  //   display: grid;
  //   grid-template-columns: 1fr;
  //   grid-template-rows: 56px 1fr 8.3rem;
  // }
  // @supports not (display: grid) {
    @supports (display: flex) {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
    }
  // }
  @media (max-width: $stop1) {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(0);
    transition: 300ms ease all;
    backface-visibility: hidden;
    //display: table;
  }
  > footer {
    background: $primary;
    min-height: 8.3rem;
    margin-top: 5.4rem;
    padding: 0.2rem;
    color: white;
    text-align: right;
    position: relative;
    z-index: 10;
    .site-header-background {
      position: absolute;
      top: -88px;
      right: 0;
    }
    >.container {
      padding: 1.2rem 0;
      height: 7.7rem;
    }
  }
}

svg.site-header-background {
  display: none;
  // z-index: 1;
  @media (min-width: $stop1) {
    display: block;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 170px;
    path {
      &:nth-child(1) {
        fill: rgba(lighten($primary, 20%), 0.4);
      }
      &:nth-child(2) {
        fill: rgba(lighten($primary, 10%), 0.7);
      }
      &:nth-child(3) {
        fill: rgba($primary, 1);
      }
    }
  }
}

.appLogo {
  font-weight: bolder;
  font-family: 'Economica', sans-serif;
  display: inline-block;
  text-shadow: 1px 1px 3px rgba(black, 0.3);
  transform: translate(1rem, -0.1rem) rotateZ(-10deg) scale(1.2);
  @media (min-width: $stop1) {
    transform: translate(1.6rem, 0.3rem) rotateZ(-10deg) scale(2);
  }
  span {
    display: inline-block;
    &:first-of-type {
      color: rgba(white, 0.7);
      font-size: 1.4rem;
      transform: translate(0, -11px);
    }
    &:last-of-type {
      color: $accent;
      transform: translate(-1rem, 0.1rem);
      font-size: 1rem;
    }
  }
}

nav+div.container {
  margin-top: 3.4rem;
  padding: 0 10px;
  @supports (display: flex) {
    flex: 1;
    width: 100%;
  }
  .loader {
    color: white;
    text-shadow: 0px 3px 10px black, 0 0 3px black;
    margin-bottom: 3rem;
    h1 {
      color: white;
      text-align: center;
    }
  }
}
/** END QUICK RENDER **/
