@import "variables";

table[role="list"] {
  border-collapse: collapse;
  width: 100%;
  th {
    text-align: left;
    padding: 14px ($padding * 3);
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 500;
    min-height: 42px;
  }
  td {
    border-bottom: 1px solid rgba($primary, 0.1);
  }
  tr:last-child td {
    border-bottom: 0;
  }
  tbody, tr {
    outline: none;
    &[role="listitem"] {
      cursor: pointer;
      &:hover td {
        background-color: rgba($primary, 0.2) !important;
      }
    }
    &.unimportant {
      td {
        background-image: repeating-linear-gradient(54deg, transparent, rgba(#ddd,0.4) 2px, transparent 4px);
        &:first-of-type {
          background-image: linear-gradient(to right, white 0%, transparent 30%), repeating-linear-gradient(54deg, transparent, rgba(#ddd,0.4) 2px, transparent 4px);
        }
        &:last-of-type {
          background-image: linear-gradient(to left, white 0%, transparent 70%), repeating-linear-gradient(54deg, transparent, rgba(#ddd,0.4) 2px, transparent 4px);
        }
      }
    }
  }
  td {
    padding: $padding * 3;
  }
}

.table-responsive {
  width: 100%;
  overflow: auto;
  table {
    width: 98.9%;
  }
}

.mat-table {
  .mat-header-row, .mat-row {
    min-height: 42px;
  }
  &[role="menu"] {
    .mat-row {
      cursor: pointer;
      &:hover {
        background: rgba($primary, 0.2);
      }
    }
  }
  .selector {
    max-width: 2rem;
    height: 1.5rem;
    overflow: visible;
  }
}
