@import "variables";

table[role="list"] {
  border-collapse: collapse;
  width: 100%;
  th {
    text-align: left;
    padding: $padding ($padding * 3);
  }
  td {
    border-bottom: 1px solid rgba($primary, 0.1);
  }
  tbody, tr {
    &[ role="listitem" ] {
      cursor: pointer;
      &:hover td {
        background-color: $primaryLight;
      }
      td {
        padding: $padding * 3;
      }
    }
  }
}
