@import '../../../../styles/variables';

:host {
  position: relative;
  output {
    position: absolute;
    display: block;
    white-space: nowrap;
    padding: 8px 12px;
    color: white;
    border-radius: 4px;
    top: 35px;
    left: 2px;
    &.success {
      background: $success;
      &:before {
        background: $success;
        border-color: $success
      }
    }
    &.warning {
      background: $warning;
      &:before {
        background: $warning;
        border-color: $warning;
      }
    }
    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      border-style: solid;
      border-width: 1px 0 0 1px;
      transform: rotate(45deg);
      position: absolute;
      top: -5px;
      left: 15px;
    }
  }
}
