@import "~styles/variables";

:host {
  position: relative;
  display: block;
}
header {
  padding: 0 0.5rem;
  align-items: center;
  @supports(position: sticky) {
    position: sticky;
    top: 3.5rem;
    background: white;
    border-radius: 5px;
    z-index: 4;
  }
}
td.editor {
  padding: 0;
}

section {
  margin-top: -1rem;
  .actions {
    padding: 0;
    max-width: 40px;
    width: 40px;
    vertical-align: top;
  }

  thead th {
    position: sticky;
    top: 3.5rem;
    background-image: linear-gradient(to bottom, white 70%, rgba(white, 0) 100%);
    z-index: 2;
    height: 4rem;
    vertical-align: bottom;
    &:first-of-type {
      border-radius: 5px 0 0 0;
    }
    &:last-of-type {
      border-radius: 0 5px 0 0;
    }
  }
  &.isSecond {
    margin-top: 0;
    thead th {
      top: 6.1rem;
      height: auto;
    }
  }

  tbody {
    color: rgba($text-color, 0.5);
    font-style: italic;
    border-bottom: 1px solid rgba($primary, 0.1);
    .day-split {
      color: $text-color;
      border-bottom: 2px solid $text-color;
      background: white !important;
    }
    td {
      border-bottom: 0;
    }
    &.unimportant > tr:last-of-type td:last-of-type {
      background-image: repeating-linear-gradient(54deg, transparent, rgba(#ddd,0.4) 2px, transparent 4px);
    }
    // End reset
    &.deleted td {
      position: relative;
      &:not(.actions)::after {
        content: '';
        position: absolute;
        border-bottom: 4px double rgba(0,0,0,0.3);
        left: 0;
        right: 0;
        top: 45%;
      }
    }
    &.isPublished {
      color: $text-color;
    }
    &.isPublished,
    &.isStarted {
      font-style: inherit;
      background: transparent;
    }
    &.isCurrent {
      background: rgba(lighten(green, 50%), 0.2);
      border-top: 1px solid #bbb;
      border-bottom: 1px solid #bbb;
    }
    .details td {
      padding-top: 0;
      margin-top: -1rem;
    }
    @media only screen and (max-width: $stop1) {
      tr:not(.details) td {
        padding-bottom: 0;
      }
      > tr:first-child > td::after {
        top: 65%;
      }
      > tr:last-child > td::after {
        top: 25%;
      }
    }
  }
}
