footer {
  padding-top: 16px;
  margin: 4px -24px -24px -24px;
}

.mat-dialog-content {
  white-space: pre-wrap;
  pre {
    max-height: 10rem;
    font-size: 0.8em;
    margin: 0;
    padding: 0.5rem;
    white-space: pre;
  }
}

