<form [formGroup]="form" (ngSubmit)="save()">
  <div>
    <mat-form-field class="help-available">
      <input matInput type="password" autocomplete="current-password" formControlName="oldPassword" placeholder="{{'Old password' | translate}}">
      <mat-error>{{ 'Current password is required' | translate }}</mat-error>
      <app-help-block>
        <p translate>Please type in your old password. This is for your own security, to avoid somebody taking over your account.</p>
      </app-help-block>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="col-xs-6 help-available">
      <input matInput type="password" autocomplete="new-password" formControlName="password" placeholder="{{'New password' | translate}}">
      <mat-error>{{ 'A password is required' | translate }}</mat-error>
      <app-help-block>
        <p translate>Any password will do. We do not set restrictions. But please make sure it is not too easy.</p>
        <p translate>We suggest using a password generator for this: <a href="https://xkpasswd.net/s/" target="_blank">https://xkpasswd.net/s/</a></p>
      </app-help-block>
    </mat-form-field>
    <mat-form-field class="col-xs-6 help-available">
      <input matInput type="password" autocomplete="new-password" formControlName="repeatPassword" [errorStateMatcher]="matcher()"
             placeholder="{{'Repeat password' | translate}}">
      <mat-error>{{ 'Passwords are not equal' | translate }}</mat-error>
      <app-help-block>
        <p translate>This needs to be exactly the same text as entered in the password field. Just to make sure you did not make any typos. :-)</p>
      </app-help-block>
    </mat-form-field>
  </div>

  <footer mat-dialog-actions>
    <button mat-button type="button" mat-dialog-close>{{ 'Cancel' | translate }}</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid" cdkFocusInitial>{{ 'Ok' | translate }}</button>
  </footer>
</form>
