@import "../../../styles/variables";

.mat-card {
  padding: 0;
  overflow: hidden;
  .mat-subheader {
    border-bottom: 1px solid #bbb;
    background: rgba($primary, 0.8);
    color: white;
    padding-top: 0;
    padding-bottom: 0;
    height: 1.3rem;
  }
  .flex {
    width: 100%;
  }
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $stop1) {
    margin-top: 4rem;
  }
}
.main-content {
  flex: 1;
  color: black;
  margin-bottom: 3rem;
  background: rgba(white,0.4);
  padding: 16px;
  border-radius: 8px;
  min-width: 400px;
  @media (max-width: $stop1) {
    min-width: 100%;
    border-radius: 0;
  }
  @media (min-width: $stop1) {
    margin-right: 1rem;
  }
  header {
    color: white;
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 2rem 0;
    justify-content: flex-end;
    h1 {
      text-shadow: 0px 3px 10px black, 0 0 3px black;
      color: inherit;
      margin: 0;
      flex: 1;
      min-width: 25rem;
      @media (max-width: $stop2) {
        min-width: 100%;
      }
    }
    div {
      margin-top: 0.6rem;
      text-shadow: 0 0 3px black;
      text-align: right;
      a {
        color: inherit;
      }
    }
  }
}

.tournament-list {
  @media (max-width: $stop1) {
    flex: 1;
  }
}
