<form [formGroup]="disciplineForm" (submit)="save()">
  <fieldset>
    <div class="row">
      <div class="col-12" appFloatingLabelContainer>
        <label>Name</label>
        <input type="text" formControlName="name">
      </div>
    </div>
  </fieldset>

  <fieldset *ngIf="disciplineForm.value.id">
    <app-score-system [discipline]="disciplineForm.value" (editModeChanged)="editingScore = $event"></app-score-system>
  </fieldset>
  <footer *ngIf="!editingScore">
    <button type="submit" title="Save"><app-fa name="save" fw="true"></app-fa> <span>Save discipline</span></button>
    <button type="button" title="Cancel" (click)="cancel()"><app-fa name="ban" fw="true"></app-fa> <span>Cancel</span></button>
    <button *ngIf="disciplineForm.value.id" title="Delete" class="pull-right warning" type="button" (click)="delete()"><app-fa name="trash" fw="true"></app-fa> <span>Delete discipline</span></button>
  </footer>
</form>
