<nav>
  <div class="container">
    <header>
      <a class="appLogo" routerLink="/"><span>Gym</span><span>Systems</span></a>
    </header>
    <fa name="bars" fw="true" size="2" (click)="toggleNav($event)"></fa>
    <ul [ngClass]="{'open': navState === true}" (window:click)="closeNav($event)">
      <li [routerLinkActive]="['active']">
        <a routerLink="/add-score">
          <fa name="star" fw="true"></fa> Add Score </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/display">
          <fa name="tv" fw="true"></fa> Display </a>
      </li>
      <li [routerLinkActive]="['active']">
        <a routerLink="/configure">
          <fa name="cogs" fw="true"></fa> Configure </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="container">
    Designed and built for Haugesund Turnforening
    <div class="pull-left logo">
      <img src="assets/images/NGTF_logo_farger.png">
      <img src="assets/images/HTF_Logo.png">
    </div>
  </div>
</footer>
