@import "../styles/variables";

:host {
  min-height: 100vh;
  @supports (display: flex) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
  }
  @media (max-width: $stop1) {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateX(0);
    transition: 300ms ease all;
    backface-visibility: hidden;
    //display: table;
  }
}

.show-help {
  a {
    transform-origin: center;
    transition: 0.2s transform ease-in-out;
  }
  &.active {
    background: transparent;
    box-shadow: none;
    a {
      transform: scale(1.2);
    }
  }
}


footer {
  @media print {
    display: none;
  }
  .user-info {
    position: absolute;
    top: 0;
    right: 0;
    a {
      color: white;
    }
  }
  .logo {
    margin-top: -1rem;
    img {
      margin-right: 1rem;
    }
  }
}

.language-selector {
  position: absolute;
  bottom: 1rem;
  right: 0;
}
