<svg viewBox="0 0 200 40" preserveAspectRatio="none" class="site-header-background">
  <path d="M 0,0 H 200 V 13 c -139,0 -149,1 -200,23 z" />
  <path d="M 0,0 H 200 V 13 c -139,0 -149,1 -200,17 z" />
  <path d="M 0,0 H 200 V 13 c -139,0 -149,1 -200,11 z" />
</svg>
<nav>
  <div class="container">
    <header>
      <a class="appLogo" routerLink="/"><span>Gym</span><span>Systems</span></a>
    </header>
    <app-fa name="bars" fw="true" size="2" (click)="toggleNav($event)"></app-fa>
    <ul class="pull-right" [ngClass]="{'open': navState === true}" (window:click)="closeNav($event)">
      <li>
        <a routerLink="/">
          <app-fa name="home" fw="true"></app-fa> Home </a>
      </li>
      <li [routerLinkActive]="['active']" *appIfAuth="false">
        <a routerLink="/login">
          <app-fa name="sign-in" fw="true"></app-fa> Login </a>
      </li>
      <li [routerLinkActive]="['active']" *appIfAuth="'Admin'">
        <a routerLink="/configure">
          <app-fa name="cogs" fw="true"></app-fa> Configure </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="container">
    Designed and built for Haugesund Turnforening
    <div class="pull-left logo">
      <a href="http://www.gymogturn.no/"><img src="assets/images/NGTF_logo_farger.png" alt="Norges gym og Turnforening"></a>
      <a href="http://www.haugesundturn.no/"><img src="assets/images/HTF_Logo.png" alt="Haugesund Turnforening"></a>
    </div>
  </div>
</footer>