@import "../styles/variables";

// Set static header
.site-header-background {
  position: fixed;
  z-index: 1;
}
nav {
  position: fixed;
  z-index: 2;
  +.container {
    margin-top: 3.4rem;
  }
}

// Help functionality
.show-help {
  a {
    transform-origin: center;
    transition: 0.2s transform ease-in-out;
  }
  &.active {
    background: transparent;
    box-shadow: none;
    a {
      transform: scale(1.2);
    }
  }
}

footer {
  @media print {
    display: none;
  }
  .user-info {
    position: absolute;
    top: 0;
    right: 0;
    a {
      color: white;
    }
  }
  .logo {
    margin-top: -1rem;
    img {
      margin-right: 1rem;
    }
  }
}

.language-selector {
  position: absolute;
  bottom: 1rem;
  right: 0;
  .flag-icon-large {
    width: 2.5rem;
    height: 2.5rem;
  }
  @media (min-width: $stop1) {
    .mat-icon-button {
      width: 25px;
      height: 25px;
      line-height: 20px;
    }
    .flag-icon-large {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
