@import "~styles/variables";

header {
  padding-bottom: 4rem;
  padding-top: 1rem;
  line-height: 3em;
  margin-bottom: 0.5rem;
  @media print {
    display: none;
  }
  small {
    font-size: 0.8em;
    line-height: normal;
    font-weight: normal;
    display: block;
  }
}

section pre {
  @media print {
    display: none;
  }
}

.division {
  margin-bottom: 1rem;
  @media print {
    page-break-after: always;
    [class*="col-"] {
      display: block;
    }
  }
  h3 {
    color: white;
    background: $primary;
    border-radius: $rounded $rounded 0 0;
    padding: 5px 10px;
    @media print {
      color: black;
      text-transform: uppercase;
      margin: 1rem 0;
      padding-left: 0;
    }
  }
  h4 {
    color: black;
    @media print {
      text-decoration: underline;
    }
  }
}

table {
  @media print {
    margin-bottom: 2rem;
    border-collapse: collapse;
    td {
      border-bottom: 1px solid $primary;
    }
    tbody.team {
      .team-total > td {
        padding-top: 1rem;
        border-bottom-width: 2px;
      }
      .team-details > td {
        border-bottom-style: dotted;
      }
    }
  }
  tr {
    th {
      text-align: left;
    }
    td {
      opacity: 0.5;
      &.print-only {
        min-width: 4rem;
      }
    }
    &.isPublished {
      td {
        opacity: 1;
      }
    }
  }
}

.score {
  text-align: right;
}
