<div class="action-buttons">
  <button mat-icon-button *ngIf="hasMedia() && !isPlaying()" type="button" (click)="play()" [title]="'Play media' | translate" aria-label="Play media">
    <i class="fa fa-fw fa-play"></i>
  </button>
  <button mat-icon-button *ngIf="hasMedia() && isPlaying()" type="button" (click)="stop()" [title]="'Stop playing' | translate" aria-label="Stop playing">
    <i class="fa fa-fw fa-stop"></i>
  </button>
  <button mat-icon-button *ngIf="hasMedia() && isPrimaryMedia() && canUpload" type="button" (click)="remove()" class="warning"
          [title]="'Remove media' | translate" aria-label="Remove media">
    <i class="fa fa-fw fa-trash"></i>
  </button>
  <a mat-icon-button class="file-upload" *ngIf="(!hasMedia() || !isPrimaryMedia()) && canUpload" [title]="'Upload media' | translate" aria-label="Upload media">
    <input type="file" (change)="fileAdded($event)" accept=".mp3,.wav">
    <i class="fa fa-fw fa-upload"></i>
  </a>
</div>
<label *ngIf="hasMedia() && showLabel" class="flex-col media-name" [title]="getTitle()"
       [ngClass]="{'primary': isPrimaryMedia()}"><small>{{ media.originalName }}</small></label>
