@import "~styles/variables";

section {
  display: table-cell;
  width: 50%;
  position: relative;
  vertical-align: top;
  textarea {
    width: 100%;
    min-height: 10rem;
    border: 1px solid lighten($text-color, 30%);
    border-radius: 4px;
  }
  macro-dialog {
    position: absolute;
    right: $padding;
  }
  button {
    margin-left: auto;
    margin-right: 0;
    display: block;
  }
  @media (max-width: $stop1) {
    display: block;
    width: 100%;
  }
}
.preview {
  position: relative;
}
