<h1 *ngIf="tournament">{{ tournament.name }}</h1>

<table *ngIf="tournament && schedule.length" role="list" class="editable">
  <thead>
    <tr>
      <th>Start #</th>
      <th>Team</th>
      <th>Division</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody *ngFor="let item of schedule">
    <tr *ngIf="selected !== item" (click)="select(item)" role="listitem">
      <td>{{ item.startNumber }}</td>
      <td>{{ item.team.name }} </td>
      <td>{{ division(item.team) }}</td>
      <td>{{ item.discipline.name }}</td>
    </tr>
    <tr *ngIf="selected === item">
      <td colspan="4">
        <scoreboard [participant]="item"></scoreboard>
      </td>
    </tr>
  </tbody>
</table>
