@import "~styles/variables";
// app-slide-toggle {
//   display: block;
//   min-width: 6rem;
// }

fieldset {
  float: left;
}

.mat-card-content {
  display: flex;
  > .gymnast-data {
    flex: 1;
  }
}

::ng-deep {
  .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: rgba($warning, 0.10);
  }
  .mat-slide-toggle:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: rgba($warning, 0.30);
  }
}
