<h1>
  <fa [name]="'heartbeat'"></fa>
  Tournaments
</h1>

<button (click)="addTournament()">
  <fa [name]="'plus'"></fa>
  Add Tournament
</button>

<form *ngIf="showForm == true">
  <fieldset>
    <label>Name</label>
    <input type="text">

    <label>Start date</label>
    <input type="text">

    <label>End date</label>
    <input type="text">

    <label>Location</label>
    <input type="text">

    <label>Image</label>
    <input type="text">
  </fieldset>
  <footer>
    <button type="submit"><fa [name]="'save'"></fa> Save tournament</button>
  </footer>
</form>
