<input type="search" (focus)="onEnter()" (blur)="onLeave()" (keydown)="onKeyPress($event)" [(value)]="stringValue" required="{{ required }}" autocomplete="off" [disabled]="disabled">
<datalist *ngIf="popupVisible">
  <option *ngFor="let item of matches; let i = index;" (mousedown)="select(item)" [ngClass]="{'selected': i === selectedIndex}">
    {{ item[itemText ? itemText : itemValue] }}
  </option>
</datalist>
<datalist class="no-options" [hidden]="showNoOpt" #noopt>
  <ng-content></ng-content>
</datalist>

