// Settings
$padding   : 4px;
$negPad    : (0 - $padding);
$rounded   : $padding;
$margin    : 0.3rem;
$navHeight : 3.5rem;

// Colors
$primaryLight : #ddf;
$primary      : #69f;
$primaryDark  : #47d;
$accent       : darken(complement($primary), 20%);
$accentDark   : darken(complement($primaryDark), 20%);

// Screen stops
$stop0 : 64rem;
$stop1 : 43rem;
$stop2 : 30rem;
