<div class="table-responsive">
  <table role="list" class="editable">
    <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Type</th>
        <th translate>Judges</th>
        <th translate>Max</th>
        <th translate>Min</th>
      </tr>
    </thead>
    <tbody *ngFor="let score of scoreGroupList">
      <tr *ngIf="score !== selected" (click)="select(score)" role="listitem">
        <td>{{ score.name }}</td>
        <td>{{ score.type}}</td>
        <td>{{ score.judges}}</td>
        <td>{{ score.max}}</td>
        <td>{{ score.min}}</td>
      </tr>
      <tr *ngIf="score === selected">
        <td colspan="5">
          <app-score-group-editor [scoreGroup]="selected" [discipline]="discipline" (scoreChanged)="onChange($event)" [standalone]="standalone"></app-score-group-editor>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button mat-raised-button class="mat-accent" type="button" *ngIf="selected == null" [title]="'Add' | translate" (click)="addScoreGroup()">
  <fa name="plus" fixed="true"></fa>
  <span translate>Add ScoreGroup</span>
</button>
<button mat-raised-button type="button" *ngIf="selected == null && canAddDefaults" [title]="'Add default' | translate" (click)="addDefaults()">
  <fa name="plus-circle" fixed="true"></fa>
  <span translate>Add Default ScoreGroups</span>
</button>
