<form class="panel" [formGroup]="scoreForm" (submit)="save()">
  <fieldset>
    <div class="row">
      <div class="col-8" appFloatingLabelContainer>
        <label translate>Name</label>
        <input type="text" formControlName="name" appAutofocus>
      </div>
      <div class="col-2" appFloatingLabelContainer>
        <label translate>Type</label>
        <input type="text" formControlName="type">
      </div>
      <div class="col-2">
        <label translate>Operation</label>
        <app-slide-toggle [onLabel]="Adds" [offLabel]="Subtracts" [onState]="operations.Addition" [offState]="operations.Subtraction" [initState]="operations.Addition" formControlName="operation"></app-slide-toggle>
      </div>
    </div>

    <div class="row">
      <div class="col-4" appFloatingLabelContainer>
        <label translate>Judges</label>
        <input type="number" formControlName="judges">
      </div>
      <div class="col-4" appFloatingLabelContainer>
        <label translate>Max Score</label>
        <input type="number" formControlName="max">
      </div>
      <div class="col-4" appFloatingLabelContainer>
        <label translate>Min Score</label>
        <input type="number" formControlName="min">
      </div>
    </div>
  </fieldset>
  <footer>
    <button type="submit" [title]="'Save' | translate" [disabled]="scoreForm.invalid || scoreForm.pristine"><app-fa [name]="isSaving ? 'circle-o-notch fa-spin' : 'save'" fw="true"></app-fa> <span translate>Save</span></button>
    <button type="button" [title]="'Cancel' | translate" (click)="close()"><app-fa name="ban" fw="true"></app-fa> <span translate>Cancel</span></button>
    <button type="button" *ngIf="standalone || scoreForm.value.id" [title]="'Delete' | translate" class="pull-right warning" (click)="delete()"><app-fa name="trash" fw="true"></app-fa> <span translate>Delete</span></button>
  </footer>
</form>
