@import "../styles/variables";

// Top navbar
nav {
  position: fixed;
  top: 0;
  z-index: 10;
  display: block;
  height: $navHeight;
  background: $primary;
  width: 100%;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  a {
    padding: 1rem 0.5rem 1rem 0.5rem;
    display: inline-block;
  }
  a,
  .fa {
    color: rgba(white, 0.8);
    text-decoration: none;
    height: 3.5rem;
  }


  .mobile-menu-toggle {
    cursor: pointer;
    border-radius: $rounded;
    padding: 0.8rem 0.5rem 1.2rem 0.5rem;
    display: none;
    margin-right: 1rem;
    @media (max-width: $stop1) {
      display: block;
    }
    &:hover {
      border: 1px solid transparent;
      text-shadow: none;
    }
  }

  > .container {
    display: flex;
    header {
      margin: 0 3rem 0 1rem;
    }
    .spacer {
      flex: 1;
    }
  }
  // Site menu
  ul {
    list-style: none;
    padding-left: 0;
    height: $navHeight;
    @media (max-width: $stop1) {
      width: 100%;
      height: 100vh !important;
      position: fixed;
      top: $navHeight;
      right: -100%;
      background: $primary;
      transition: 300ms ease all;
      z-index: 500;
      &.open {
        transform: translateX(-100%);
      }
    }
    li {
      display: inline-block;
      &.active {
        a {
          color: white;
        }
        background: darken(rgba($primary, 0.4), 4%);
        border-left-color: rgba(black, 0.3);
        border-right-color: rgba(white, 0.3);
        box-shadow: 0px 5px 20px -4px rgba(0, 0, 0, 0.3) inset, 1px 0 8px rgba(255, 255, 255, 0.2);
        text-shadow: 1px 1px 1px rgba(black, 0.4);
        background-image: linear-gradient(to bottom, transparent 95%, white 98%);
      }
      @media (max-width: $stop1) {
        float: none;
        display: block;
        width: 100%;
      }
      a {
        text-transform: uppercase;
        transition: color 0.1s;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
        //text-shadow: 1px 1px 3px rgba(black, 0.4);
        &:hover {
          color: white;
          background-image: radial-gradient(ellipse closest-side at center center, rgba($primaryDark, 0.4) 0%, transparent 100%);
        }
        @media (max-width: $stop1) {
          width: 100%;
        }
      }
    }
  }
}

.sidebar {

}

.main-content {
  > * {
    position: relative;
    z-index: 1;
  }
  @media (max-width: 720px) {
    padding: 10px;
  }
}

// Help functionality
.show-help {
  a {
    transform-origin: center;
    transition: 0.2s transform ease-in-out;
  }
  &.active {
    background: transparent;
    box-shadow: none;
    a {
      transform: scale(1.2);
    }
  }
}

footer {
  @media print {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    @media screen and (min-width: $stop1) {
      grid-template-columns: 200px 1fr 200px;
      grid-template-rows: 1fr 1fr;
    }
  }
  .user-info {
    grid-row: 1;
    grid-column: 2;
    @media screen and (min-width: $stop1) {
      grid-column: 3;
    }
    a {
      color: white;
    }
  }
  .logo {
    grid-column: 1;
    grid-row: span 3 / auto;
    @media screen and (min-width: $stop1) {
      grid-row: span 2 / auto;
    }
    img {
      margin-right: 1rem;
      filter: grayscale(100%) brightness(10);
    }
  }
  app-report-bugs {
    grid-column: 2;
    grid-row: 1;
    color: white;
    text-align: center;
    display: block;
    @media screen and (max-width: $stop1) {
      display: none;
    }
  }
}

.language-selector {
  grid-column: 2;
  grid-row: 2;
  @media screen and (min-width: $stop1) {
    grid-column: 3;
    grid-row: 2;
  }
  .flag-icon-large {
    $size: 2.5rem;
    width: $size;
    height: $size;
  }
  @media (min-width: $stop1) {
    $size: 1.5rem;
    .mat-icon-button {
      width: $size;
      height: $size;
      line-height: $size;
    }
    .flag-icon-large {
      width: $size;
      height: $size;
    }
  }
}
