<header *ngIf="tournament" class="screen-only">
  <div class="hgroup">
    <small>{{ tournament.startDate | date: 'dd.MM' }} - {{ tournament.endDate | date: 'dd.MM' }} {{ tournament.endDate | date: 'yyyy' }}</small>
    <h2>{{ tournament.name }}</h2>
  </div>

  <button mat-icon-button class="buttons" [matMenuTriggerFor]="options">
    <i class="fa fa-fw fa-ellipsis-v"></i>
  </button>
  <mat-menu #options="matMenu">
    <button mat-menu-item type="button" *appIfAuth="'Organizer'" [routerLink]="['/configure/tournament', tournament.id]">
      <i class="fa fa-fw fa-cog"></i>
      <span translate>Settings </span>
    </button>
    <button mat-menu-item type="button" class="mat-primary flat" [routerLink]="['./list']" [routerLinkActive]="['active']">
      <i class="fa fa-fw fa-list"></i>
      <span translate>Schedule</span>
    </button>
    <button mat-menu-item type="button" class="mat-primary flat" [routerLink]="['./results']" [routerLinkActive]="['active']">
      <i class="fa fa-fw fa-trophy"></i>
      <span translate>Results </span>
    </button>
    <button mat-menu-item type="button" class="mat-primary flat" *appIfAuth="'Secretariat'" [routerLink]="['./display']" [routerLinkActive]="['active']">
      <i class="fa fa-fw fa-tv"></i>
      <span translate>Display </span>
    </button>
  </mat-menu>
</header>

<router-outlet></router-outlet>
