<h1>
  <i class="fa fa-fw fa-university"></i>
  <span translate>Clubs</span>
</h1>

<mat-table #table [dataSource]="clubSource" role="menu" matSort (matSortChange)="clubSource.sortData($event)">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let club">{{ club.name }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['name']"></mat-header-row>
  <mat-row *matRowDef="let club; columns: ['name']; let index=index" #dataRow [routerLink]="['.', club.id]"></mat-row>
</mat-table>

<button mat-raised-button class="mat-accent" type="button" [title]="'Add' | translate" [routerLink]="['./add']" *appIfAuth="'Admin'" aria-label="Add club">
  <i class="fa fa-fw fa-plus"></i>
  <span translate>Add club</span>
</button>
