<h1>
  <app-fa name="trophy" fw="true"></app-fa>
  Tournaments
</h1>

<table role="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody *ngFor="let tournament of tournamentList">
    <tr *ngIf="tournament !== selected" (click)="select(tournament)" role="listitem">
      <td>{{ tournament.name }}</td>
      <td>{{ tournament.startDate | date }}</td>
      <td>{{ tournament.endDate | date }}</td>
      <td>{{ tournament.location }}</td>
    </tr>
    <tr *ngIf="tournament === selected">
      <td colspan="4">
        <app-tournament-editor [tournament]="selected" (tournamentChanged)="onChange($event)"></app-tournament-editor>
      </td>
    </tr>
  </tbody>
</table>

<button *ngIf="selected == null" (click)="addTournament()">
  <app-fa name="plus" fw="true"></app-fa>
  Add Tournament
</button>