@import "../../../../styles/variables";
textarea {
  width: 100%;
  min-height: 10rem;
  border: 1px solid lighten($text-color, 30%);
  border-radius: 4px;
}

section {
  margin-bottom: 2rem;
  header {
    max-width: 9rem;
    font-weight: bold;
    text-align: right;
    padding-right: 0.5rem;
  }
}

.tab-panel {
  margin-top: 1em;
}

article {
  > div {
    padding: 0 1em;
  }
  > div, > div > span {
    display: inline-block;
  }
}

// .ageLimits {
//   > article > div {
//     > label {
//       display: block;
//       text-align: center;
//       font-weight: bold;
//     }
//   }
//   mat-form-field {
//     width: 2.5rem;
//   }
// }
