<h1>
  <i class="fa fa-fw fa-tv"></i>
  <span translate>Display</span>
</h1>

<mat-form-field>
  <mat-select (selectionChange)="previewSelected($event)" placeholder="{{'Select tournament to preview' | translate}}">
    <mat-option>{{ 'Edit' | translate }}</mat-option>
    <mat-option *ngFor="let tournament of tournaments" [value]="tournament">{{ tournament.name }}</mat-option>
  </mat-select>
</mat-form-field>

<form *ngIf="!preview">
  <div role="table">
    <div role="row">
      <section *ngFor="let template of templates; let i = index;">
        <textarea title="{{ template.title }}" name="{{'template' + i}}" [(ngModel)]="template.content" rows="20">{{ template.content }}</textarea>
      </section>
    </div>
  </div>
  <footer>
    <app-save-button buttonType="submit" (click)="save()"></app-save-button>
  </footer>
</form>

<div class="preview" *ngIf="preview">
  <mat-progress-spinner *ngIf="!display" mode="indeterminate" class="center"></mat-progress-spinner>

  <div role="table">
    <div role="row">
      <section [routerLink]="['./1']" class="displayContainer">
        <pre [innerHtml]="display[0]" class="display"></pre>
      </section>
      <section [routerLink]="['./2']" class="displayContainer">
        <pre [innerHtml]="display[1]" class="display"></pre>
      </section>
    </div>
  </div>
</div>
