<h1 translate>About GymSystems</h1>

<p>
  <span translate>Gymsystems is an open-source system for managing TeamGymnastics tournaments. </span>
</p>
<p>
  <span translate>It covers every aspect of hosting tournaments, from clubs communicating their list of gymnasts, the disciplines they'll compete in </span>
  <span translate>and any allergies they might have so that the organizers can better plan the menu - </span>
  <span translate>to publishing the scores for each teams participation, both online and on big screen. </span>
</p>
<p>
  <span translate>For information on how to use this system, if you want to host your own tournament, we keep a comprehensive user manual</span>
  <a translate href="https://github.com/OysteinAmundsen/gymsystems/wiki">here</a>
</p>

<h2 translate>Want to help?</h2>
<p>
  <app-report-bugs>{{'Please report bugs' | translate}}</app-report-bugs>
  <span translate>if you find any. We do have extensive automated testing running before anything is published here, but no system is fool-proof</span>.
</p>
<p>
  <app-buy-me-a-beer></app-buy-me-a-beer>
  <span translate>if you want to contribute to the development of this project, or you can make code contributions through</span>
  <a href="https://github.com/OysteinAmundsen/gymsystems">github</a>. <span translate>Both are equally welcome</span>. 😁
</p>
