<table role="list">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody *ngFor="let ageClass of ageClassList">
    <tr *ngIf="ageClass !== selected" (click)="select(ageClass)" role="listitem">
      <td>{{ ageClass.name }}</td>
    </tr>
    <tr *ngIf="ageClass === selected">
      <td colspan="1">
        <app-age-class-editor [ageClass]="selected" (ageClassChanged)="onChange($event)"></app-age-class-editor>
      </td>
    </tr>
  </tbody>
</table>

<button *ngIf="selected == null" title="Add" (click)="addAgeClass()">
  <app-fa name="plus" fw="true"></app-fa>
  <span>Add Age class</span>
</button>
