@import "~styles/variables";

a.file-upload {
  position: relative;
  input[type="file"] {
    cursor: pointer;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
  }
}

.mat-row.detail {
  padding: 0 2px;
}

.mat-column-teams {
  max-width: 2.3rem;
}
.mat-column-birthYear,
.mat-column-gender {
  max-width: 5rem;
}
.mat-column-birthYear,
.mat-column-teams {
  text-align: center;
  .mat-sort-header-button {
    margin: 0 auto;
  }
}
.mat-column-allergies {
  max-width: 8rem;
}

.mat-header-cell {
  padding: 0 0.3rem;
}

.mat-row {
  cursor: pointer;
}
