<form *ngIf="tournament" (submit)="save()">
  <mat-card>
    <mat-card-header class="full">
      <mat-toolbar class="mat-elevation-z1" color="primary">
        <button mat-button type="button" [title]="'Edit norwegian description' | translate" (click)="setLang('no')" aria-label="Edit norwegian description"><span [ngClass]="'clickable flag-icon flag-icon-no ' + (lng === 'no' ? 'selected' : '')"></span></button>
        <button mat-button type="button" [title]="'Edit english description' | translate" (click)="setLang('en')" aria-label="Edit english description"><span [ngClass]="'clickable flag-icon flag-icon-gb ' + (lng === 'en' ? 'selected' : '')"></span></button>
        <span class="divider"></span>
        <button mat-button type="button" [disabled]="preview" [title]="'Set selected text in bold' | translate" (click)="bold()" aria-label="Set selected text in bold"><i class="fa fa-fw fa-bold"></i></button>
        <button mat-button type="button" [disabled]="preview" [title]="'Set selected text in italic' | translate" (click)="italic()" aria-label="Set selected text in italic"><i class="fa fa-fw fa-italic"></i></button>
        <button mat-button type="button" [disabled]="preview" [title]="'Toggle header level' | translate" (click)="toggleHeaders()" aria-label="Toggle header level"><i class="fa fa-fw fa-header"></i></button>
        <span class="divider"></span>
        <button mat-button type="button" *ngIf="!preview" [title]="'Preview text' | translate" (click)="preview = true" aria-label="Preview text">
          <i class="fa fa-fw fa-eye"></i> <span translate>Preview</span>
        </button>
        <button mat-button type="button" *ngIf="preview" [title]="'Edit mode' | translate" (click)="preview = false" aria-label="Edit mode">
          <i class="fa fa-fw fa-code"></i> <span translate>Edit</span>
        </button>
      </mat-toolbar>
    </mat-card-header>

    <mat-card-content class="full">
      <textarea *ngIf="!preview" name="description" rows="20" [(ngModel)]="tournament['description_' + lng]" #infoText></textarea>
      <div *ngIf="preview" class="preview">
        <pre [innerHTML]="tournament['description_' + lng] | MarkdownToHtml"></pre>
      </div>
    </mat-card-content>

    <mat-card-actions>
      <app-save-button buttonType="submit" [disabled]="!isChanged()"></app-save-button>
    </mat-card-actions>
  </mat-card>
</form>
