@media print{
  @page {
    // size: A4 landscape !important;
  }
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.5mm;
  grid-auto-rows: minmax(70px, auto);
  page-break-after: always;
  -webkit-print-color-adjust: exact !important;
  margin: 0.5cm;
}

article {
  min-height: 6.5cm;
  border: 1px solid;
  padding: 0 10px;
  position: relative;
}

header>div {
  text-align: center;
}
h1 {
  text-align: center;
  font-size: 2.5rem;
  display: flex;
  letter-spacing: -0.2rem;
  .type {
    flex: 1;
  }
  .box {
    display: inline-block;
    border: 4px solid;
    width: 5.5rem;

  }
}
h2 {
  font-size: 1.7rem;
  margin: 0 0 -8px;
}

footer {
  border-top: 1px solid;
  border-top: 1px solid;
  position: absolute;
  bottom: 0.1cm;
  left: 0.2cm;
  right: 0.2cm;
  height: 0.6cm;
  small {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
