<div class="table-responsive">
  <table role="list" [dragula]="'discipline-bag'" [dragulaModel]="disciplineList" class="editable">
    <tbody *ngFor="let discipline of disciplineList | orderBy: 'sortOrder'">
      <tr *ngIf="discipline !== selected" (click)="select(discipline)" role="listitem" class="draggable">
        <td>{{ discipline.name }}</td>
      </tr>
      <tr *ngIf="discipline === selected" class="static">
        <td colspan="1">
          <app-discipline-editor [discipline]="selected" (disciplineChanged)="onChange($event)" [standalone]="standalone"></app-discipline-editor>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button type="button" *ngIf="selected == null" [title]="'Add' | translate" (click)="addDiscipline()">
  <app-fa name="plus" fw="true"></app-fa>
  <span translate>Add Disciplines</span>
</button>
<button type="button" *ngIf="selected == null && canAddDefaults" [title]="'Add default' | translate" (click)="addDefaults()">
  <app-fa name="plus-circle" fw="true"></app-fa>
  <span translate>Add Default Disciplines</span>
</button>
