<h1>
  <i class="fa fa-fw fa-map-marker"></i>
  <span translate>Venue</span>
</h1>

<mat-table #table [dataSource]="venueSource" role="menu" matSort (matSortChange)="venueSource.sortData($event)">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let venue">{{ venue.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="contact">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="visible-wide">{{'Contact' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let venue" class="visible-wide">{{ venue.contact }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="rentalCost">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="visible-wide">{{'Rental cost' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let venue" class="visible-wide">{{ venue.rentalCost }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Address' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let venue">{{ venue.address }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="createdBy">
    <mat-header-cell *matHeaderCellDef mat-sort-header class="visible-medium">{{'Created by' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let venue" class="visible-medium">{{ venue.createdBy.name }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let venue; columns: displayedColumns; let index=index" #dataRow [routerLink]="['.', venue.id]"></mat-row>
</mat-table>

<button mat-raised-button type="button" class="mat-accent" [title]="'Add' | translate" [routerLink]="['./add']" *appIfAuth="'Organizer'" aria-label="Add venue">
  <i class="fa fa-fw fa-plus"></i>
  <span translate>Add Venue</span>
</button>
