<form [formGroup]="divisionForm" (submit)="save()">
  <mat-card>
    <mat-card-content>
      <div class="row">
        <mat-form-field [className]="!divisionForm.value.type || divisionForm.value.id == null ? 'col-6' : 'col-12'">
          <input matInput type="text" formControlName="name" placeholder="{{'Name' | translate}}" appAutofocus>
        </mat-form-field>
        <mat-form-field *ngIf="!divisionForm.value.type || divisionForm.value.id == null" class="col-6">
          <mat-select formControlName="type" placeholder="{{'Type' | translate}}">
            <mat-option *ngFor="let type of types" [value]="type.id">{{type.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="row" *ngIf="divisionForm.value.type == divisionTypes.Age">
        <mat-form-field class="col-6">
          <input matInput formControlName="min" type="number" placeholder="{{'Min age' | translate}}">
        </mat-form-field>
        <mat-form-field class="col-6">
          <input matInput formControlName="max" type="number" placeholder="{{'Max age' | translate}}">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <app-save-button buttonType="submit" [disabled]="divisionForm.invalid || divisionForm.pristine"></app-save-button>
      <button mat-raised-button type="button" [title]="'Cancel' | translate" (click)="close()"><fa name="ban" fixed="true"></fa> <span translate>Cancel</span></button>
      <button mat-raised-button type="button" *ngIf="standalone || divisionForm.value.id" [title]="'Delete' | translate" class="pull-right mat-warn" (click)="delete()"><fa name="trash" fixed="true"></fa> <span translate>Delete</span></button>
    </mat-card-actions>
  </mat-card>
</form>
