<form class="panel" [formGroup]="divisionForm" (submit)="save()">
  <fieldset>
    <div class="row">
      <div [className]="!division.type ? 'col-6' : 'col-12'" appFloatingLabelContainer>
        <label translate>Name</label>
        <input type="text" formControlName="name" appAutofocus>
      </div>
      <div *ngIf="!division.type" class="col-6" appFloatingLabelContainer>
        <label translate>Type</label>
        <select formControlName="type">
          <option *ngFor="let type of types" [ngValue]="type.id">{{type.name}}</option>
        </select>
      </div>
    </div>
  </fieldset>
  <footer>
    <button type="submit" [title]="'Save' | translate" [disabled]="divisionForm.invalid || divisionForm.pristine"><app-fa [name]="isSaving ? 'circle-o-notch fa-spin' : 'save'" fw="true"></app-fa> <span translate>Save</span></button>
    <button type="button" [title]="'Cancel' | translate" (click)="close()"><app-fa name="ban" fw="true"></app-fa> <span translate>Cancel</span></button>
    <button type="button" *ngIf="standalone || divisionForm.value.id" [title]="'Delete' | translate" class="pull-right warning" (click)="delete()"><app-fa name="trash" fw="true"></app-fa> <span translate>Delete</span></button>
  </footer>
</form>
