@import "../../../../styles/variables";
:host {
  display: block;
}

header {
  padding-bottom: 4rem;
  padding-top: 1rem;
  line-height: 3em;
  small {
    font-size: 0.8em;
    line-height: normal;
    font-weight: normal;
    display: block;
  }
}

