<nav>
  <div class="container">
    <header>
      <a class="appLogo" [routerLink]="['/']"><span>Gym</span><span>Systems</span></a>
    </header>
    <fa [name]="'bars'" size="2" (click)="toggleNav($event)"></fa>
    <ul [ngClass]="{'open': navState === true}" (window:click)="closeNav($event)">
      <li><a [routerLink]="['/addScore']"> <fa [name]="'star'"></fa> Add Score </a></li>
      <li><a [routerLink]="['/lists']">    <fa [name]="'list'"></fa> Lists     </a></li>
      <li><a [routerLink]="['/display']">  <fa [name]="'tv'"></fa>   Display   </a></li>
      <li><a [routerLink]="['/configure']"><fa [name]="'cogs'"></fa> Configure </a></li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer>
  <div class="container">
    Designed and built for Haugesund Turnforening
    <div class="pull-left logo">
      <img src="images/NGTF_logo_farger.png">
      <img src="images/HTF_Logo.png">
    </div>
  </div>
</footer>
