<div class="fixed-back"></div>

<form class="panel row" [formGroup]="registerForm" (submit)="register()">
  <header>
    <h3 translate>Register</h3>
  </header>
  <fieldset class="col-12">
    <div class="row">
      <div class="col-7" appFloatingLabelContainer>
        <label for="name" translate>Username</label>
        <input type="text" formControlName="name" appAutofocus/>
      </div>
      <div class="col-5 lowered">
        <label translate>Register as</label>
        <div class="control">
          <app-slide-toggle [onLabel]="Organizer" [offLabel]="Club" [onState]="type.Organizer" [offState]="type.Club" [initState]="type.Club" formControlName="role"></app-slide-toggle>
          <div class="help-block">
            <app-fa name="question-circle" fw="true"></app-fa>
            <div class="help">
              <p translate>As a <b translate>Club</b> representative, you can enter teams to participate in the tournament.</p>
              <p translate>As an <b translate>Organizer</b>, you can create tournaments.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-7" appFloatingLabelContainer>
        <label translate>Email</label>
        <input type="email" formControlName="email">
      </div>
      <div class="col-5" appFloatingLabelContainer>
        <label translate>Club</label>
        <app-typeahead itemText="name" [items]="clubs" [getMatches]="getClubMatchesFn()" formControlName="club" [(selectedItem)]="selectedClub"></app-typeahead>
      </div>
    </div>
    <div class="row">
      <div class="col-6" appFloatingLabelContainer>
        <label translate>Password</label>
        <input type="password" formControlName="password">
      </div>
      <div class="col-6" appFloatingLabelContainer>
        <label translate>Repeat password</label>
        <input type="password" formControlName="repeatPassword">
      </div>
    </div>
  </fieldset>
  <footer>
    <button type="submit" [title]="'Login' | translate" [disabled]="registerForm.invalid || registerForm.pristine"><app-fa name="sign-in" fw="true"></app-fa> <span translate>Register</span></button>
    <a [title]="'Login' | translate" [routerLink]="['../login']" class="btn">
      <app-fa name="sign-in" fw="true"></app-fa> <span translate>Back to login</span></a>
  </footer>
</form>

<app-dialog [isOpen]="error != null" [noButtons]="true" (onCancel)="error = null">{{ error }}</app-dialog>
