@import "~styles/variables";
:host {
  .fixed-back {
    +* {
      margin-top: 10%;
    }
  }
}

form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.lowered {
  .control {
    padding-top: 1rem;
    display: block;
  }
}
