@import "~styles/variables";

:host {
  display: block;
  margin-bottom: 2rem;
  > section {
    display: flex;
    padding: 4px;
  }
}
h3 {
  min-height: 25px;
  span {
    line-height: 25px;
  }
}
.flex-col {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  transition: flex 0.2s ease-in-out;
  &.hidden {
    flex: 0;
  }
}
ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  min-height: 100%;
  max-height: 29.6em;
  overflow: auto;
}
.memberBox {
  padding: 0.857em;
  border: 1px solid #eee;
  margin: 2px;
  max-height: 3em;
  small {
    float: right;
  }
  &.male {
    background: rgba($primary, 0.05);
  }
  &.female {
    background: rgba($warning, 0.05);
  }
}
