@import "~styles/variables";
header {
  padding-bottom: 4rem;
  padding-top: 1rem;
  line-height: 3em;
  small {
    font-size: 0.8em;
    font-weight: normal;
  }
}

td:last-child {
  padding: 0;
}

td.editor {
  padding: 0;
}

.actions {
  max-width: 40px;
  width: 40px;
}

tbody {
  color: rgba($text-color, 0.7);
  // background: rgba(150, 150, 150, 0.05);
  opacity: 0.7;
  &.isPublished {
    color: $text-color;
  }
  &.isPublished,
  &.isStarted {
    opacity: 1;
    background: transparent;
  }
  &.isCurrent {
    background: rgba(lighten(green, 50%), 0.2);
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
  }
}