@import "~styles/variables";
h2 {
  small {
    float: right;
    font-size: 0.6em;
    font-weight: normal;
  }
}

td:last-child {
  padding: 0;
}

td.editor {
  padding: 0;
}

.actions {
  max-width: 40px;
  width: 40px;
}

tbody {
  color: rgba($text-color, 0.7);
  td {
    background: rgba(0, 0, 0, 0.05);
  }
  &.isPublished {
    color: $text-color;
  }
  &.isPublished,
  &.isStarted {
    td {
      background: transparent;
    }
  }
  &.isCurrent {
    background: rgba(lighten(green, 50%), 0.2);
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
  }
}