@import "~styles/variables";
h2 {
  small {
    float: right;
    font-size: 0.6em;
    font-weight: normal;
  }
}

td:last-child {
  padding: 0;
}

td.editor {
  padding: 0;
}

tr {
  color: rgba($text-color, 0.7);
  td {
    background: rgba(0, 0, 0, 0.05);
  }
  &.isPublished {
    color: $text-color;
  }
  &.isPublished,
  &.isStarted {
    td {
      background: transparent;
    }
  }
  &.current {
    background: rgba(lighten(green, 50%), 0.2);
  }
}