<h2 *ngIf="tournament">
  <span>{{ tournament.name }}</span>
  <small>{{ tournament.startDate | date: 'dd.MM.yyyy' }}</small>
</h2>

<table *ngIf="tournament && schedule.length" role="list">
  <thead>
    <tr>
      <th>Start #</th>
      <th>Team</th>
      <th>Division</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr role="listitem" *ngFor="let item of schedule">
      <td>{{ item.startNumber }}</td>
      <td>{{ item.team.name }} </td>
      <td>{{ division(item.team) }}</td>
      <td>{{ item.discipline.name }}</td>
    </tr>
  </tbody>
</table>
