<header *ngIf="tournament">
  <h2 class="pull-left">{{ tournament.name }}</h2>
  <button type="button" class="pull-right primary raised" *appIfAuth="'Secretariat'" [routerLink]="['/display', tournament.id]">
    <app-fa name="tv" fw="true"></app-fa>
    <span translate>Display </span>
  </button>
  <button type="button" class="pull-right" *appIfAuth="'Admin'" [routerLink]="['/configure/tournament', tournament.id]">
    <app-fa name="cog" fw="true"></app-fa>
    <span translate>Settings </span>
  </button>
  <small class="pull-right">{{ tournament.startDate | date: 'dd.MM.yyyy' }}</small>
</header>

<section *ngIf="tournament"><pre>{{ tournament.description}}</pre></section>
<section class="table-responsive">
  <table *ngIf="tournament && schedule.length" role="list">
    <thead>
      <tr>
        <th translate>Start #</th>
        <th translate>Team</th>
        <th translate>Division</th>
        <th translate>Discipline</th>
        <th translate>Score</th>
        <th *appIfAuth="'Secretariat'" class="actions"></th>
      </tr>
    </thead>
    <tbody *ngFor="let item of schedule" [ngClass]="{isPublished: item.publishTime != null, isStarted: item.startTime, isCurrent: item.startTime && !item.endTime && !item.publishTime}">
      <tr *ngIf="selected !== item" (click)="select(item)" role="listitem">
        <td>{{ item.startNumber }}</td>
        <td>{{ item.team.name }} </td>
        <td>{{ division(item.team) }}</td>
        <td>{{ item.discipline.name }}</td>
        <td>{{ score(item) | number:'1.3-3' }}</td>
        <td *appIfAuth="'Secretariat'" class="actions">
          <button *ngIf="item.startTime == null" (click)="start(item, $event)" [title]="'Start' | translate"><app-fa name="play" fw="true"></app-fa></button>
          <button *ngIf="item.startTime != null && item.endTime == null && score(item) == 0" (click)="stop(item, $event)" [title]="'Stop' | translate"><app-fa name="stop" fw="true"></app-fa></button>
          <button *ngIf="score(item) > 0 && item.publishTime == null" (click)="publish(item, $event)" [title]="'Publish' | translate"><app-fa name="share" fw="true"></app-fa></button>
        </td>
      </tr>
      <tr *ngIf="selected === item">
        <td colspan="6" class="editor">
          <scoreboard [participant]="item" (onClose)="closeEditor()"></scoreboard>
        </td>
      </tr>
    </tbody>
  </table>
</section>

<app-dialog [isOpen]="error != null" [noButtons]="true" (onCancel)="error = null">{{ error }}</app-dialog>