<h1>
  <app-fa name="heartbeat" fw="true"></app-fa>
  Disciplines
</h1>

<table role="list">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody *ngFor="let discipline of disciplineList">
    <tr *ngIf="discipline !== selected" (click)="select(discipline)" role="listitem">
      <td>{{ discipline.name }}</td>
    </tr>
    <tr *ngIf="discipline === selected">
      <td colspan="1">
        <app-discipline-editor [discipline]="selected" (disciplineChanged)="onChange($event)"></app-discipline-editor>
      </td>
    </tr>
  </tbody>
</table>

<button *ngIf="selected == null" (click)="addDiscipline()">
  <app-fa name="plus" fw="true"></app-fa>
  Add Disciplines
</button>