<header class="form horizontal flex">
  <mat-form-field *ngIf="user && (user.role >= roles.Admin || (user.role >= roles.Secretariat && user.club.id === tournament.club.id))">
    <mat-placeholder for="filter"><i class="fa fa-fw fa-filter"></i><span translate>Choose discipline:</span></mat-placeholder>
    <mat-select id="filter" name="filter" [(ngModel)]="selectedDiscipline">
      <mat-option [value]="null" translate>No filter</mat-option>
      <mat-option *ngFor="let discipline of disciplines" [value]="discipline">{{ discipline.name }}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="flex-col"></div>
  <mat-slide-toggle class="mat-primary" [(ngModel)]="showTraining">
    <span *ngIf="showTraining" translate>Training visible</span>
    <span *ngIf="!showTraining" translate>Training hidden</span>
  </mat-slide-toggle>
</header>

<section class="table-responsive">
  <table *ngIf="tournament && schedule.length" role="list">
    <thead>
      <tr>
        <th translate>Start</th>
        <th translate class="visible-wide">Time</th>
        <th translate>Team</th>
        <th class="visible-wide" translate>Division</th>
        <th class="visible-wide" translate>Discipline</th>
        <th translate>Score</th>
        <th *ngIf="user && (user.role >= roles.Admin || (user.role >= roles.Secretariat && user.club.id === tournament.club.id))" class="actions"></th>
      </tr>
    </thead>
    <tbody *ngFor="let item of schedule; let i = index;" role="listitem"
           [ngClass]="{isPublished: item.publishTime != null, deleted: item.markDeleted, isStarted: item.startTime, unimportant: item.type === types.Training, isCurrent: item.startTime && !item.endTime && !item.publishTime}"
           (contextmenu)="contextInvoked(item, i, $event)" #row>

      <!-- View details wide screen -->
      <tr *ngIf="selected !== item && isVisible(item)" (click)="select(item)">
        <td *ngIf="item.type === participationTypes.Training"></td>
        <td *ngIf="item.type === participationTypes.Live">#{{ item.startNumber + 1 }}</td>
        <td class="visible-wide" [innerHtml]="startTime(item)"></td>
        <td>{{ item.team.name }} </td>
        <td class="visible-wide"><b *ngIf="item.team.class === classes.TeamGym && item.type === types.Live">TG: </b>{{ division(item.team) }}</td>
        <td class="visible-wide">{{ item.discipline.name }}</td>
        <td *ngIf="item.type === types.Live">{{ score(item) | number:'1.3-3' }}</td>
        <td *ngIf="item.type === types.Training"></td>
        <td *ngIf="user && (user.role >= roles.Admin || (user.role >= roles.Organizer && user.club.id === tournament.club.id))" class="actions" rowspan="2">
          <button mat-icon-button *ngIf="canStart(item, i)" (click)="start(item, $event)" [title]="'Start' | translate">
            <i class="fa fa-fw fa-play"></i>
          </button>
          <button mat-icon-button *ngIf="item.startTime != null && item.endTime == null && score(item) == 0" (click)="stop(item, $event)" [title]="'Stop' | translate">
            <i class="fa fa-fw fa-stop"></i>
          </button>
          <button mat-icon-button *ngIf="score(item) > 0 && item.publishTime == null" (click)="publish(item, $event)" [title]="'Publish' | translate">
            <i class="fa fa-fw fa-share"></i>
          </button>
        </td>
      </tr>

      <!-- View details narrow screen -->
      <tr *ngIf="selected !== item && isVisible(item)" (click)="select(item)" class="visible-narrow details">
        <td>{{ startTime(item) }}</td>
        <td><small>{{ division(item.team) }} - {{ item.discipline.name }}</small></td>
        <td>&nbsp;</td>
      </tr>

      <!-- Score editor -->
      <tr *ngIf="selected === item">
        <td colspan="7" class="editor">
          <app-score-editor [participant]="item" (onClose)="closeEditor()"></app-score-editor>
        </td>
      </tr>

      <!-- Day divider -->
      <tr *ngIf="isNewDay(item)">
        <td colspan="7" class="day-split">
          {{ startDate(schedule[i+1]) | translate }}
        </td>
      </tr>
    </tbody>
  </table>
</section>
