@import "~styles/variables";

header {
  // max-width: 400px;
  align-items: center;
}
td.editor {
  padding: 0;
}

.actions {
  padding: 0;
  max-width: 40px;
  width: 40px;
  vertical-align: top;
}
.mat-progress-spinner {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

tbody {
  color: rgba($text-color, 0.5);
  font-style: italic;
  border-bottom: 1px solid rgba($primary, 0.1);
  .day-split {
    color: $text-color;
    border-bottom: 2px solid $text-color;
    background: white !important;
  }
  td {
    border-bottom: 0;
  }
  &.unimportant > tr:last-of-type td:last-of-type {
    background-image: repeating-linear-gradient(54deg, transparent, rgba(#ddd,0.4) 2px, transparent 4px);
  }
  // End reset
  &.deleted {
    text-decoration: line-through;
  }
  &.isPublished {
    color: $text-color;
  }
  &.isPublished,
  &.isStarted {
    font-style: inherit;
    background: transparent;
  }
  &.isCurrent {
    background: rgba(lighten(green, 50%), 0.2);
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
  }
  .details td {
    padding-top: 0;
    margin-top: -1rem;
  }
}
