<div class="datepicker-container u-is-unselectable">
  <div class="datepicker-input-container">
    <input type="text" class="datepicker-input" [ngModel]="date.formatted" (ngModelChange)="modelChanged($event)" #dateInput/>
    <div class="datepicker-input-icon" (click)="toggle()">
      <app-fa name="calendar"></app-fa>
    </div>
  </div>

  <div class="datepicker-calendar" *ngIf="opened">
    <header class="datepicker-calendar-top">
      <span class="year-title">{{ currentDate.format('YYYY') }}</span>
      <button type="button" (click)="openYearPicker()" *ngIf="show === 'date'">
        <app-fa name="arrow-circle-right"></app-fa>
        Select Year
      </button>
      <app-fa name="times" class="close" (click)="close()"></app-fa>
    </header>
    <div class="datepicker-calendar-container">

      <!-- Date picker -->
      <section *ngIf="show === 'date'">
        <div class="datepicker-calendar-month-section">
          <app-fa name="backward" (click)="prevMonth()"></app-fa>
          <span class="month-title">{{ currentDate.format('MMMM') }}</span>
          <app-fa name="forward" (click)="nextMonth()"></app-fa>
        </div>
        <div class="datepicker-calendar-day-names">
          <span>S</span>
          <span>M</span>
          <span>T</span>
          <span>W</span>
          <span>T</span>
          <span>F</span>
          <span>S</span>
        </div>
        <div class="datepicker-calendar-days-container">
          <span class="day" *ngFor="let d of days; let i = index" (click)="selectDate($event, d.momentObj)" [ngClass]="{ 'disabled': !d.enabled, 'today': d.today, 'selected': d.selected }">
            {{ d.day }}
          </span>
        </div>
        <footer class="datepicker-buttons">
          <button *ngIf="!options.autoApply" type="button" class="a-button u-is-secondary u-is-small" (click)="today()">Today</button>
          <button *ngIf="!options.autoApply" type="button" class="a-button u-is-primary u-is-small" (click)="close()">Apply</button>
          <button type="button" class="a-button u-is-primary u-is-small" (click)="openTimePicker()">
            <app-fa name="clock-o" fw="true"></app-fa>Time
          </button>
        </footer>
      </section>

      <!-- Year picker -->
      <section *ngIf="show === 'year'">
        <div class="datepicker-calendar-years-container">
          <span *ngFor="let y of years; let i = index" [ngClass]="'year' + (currentDate.format('YYYY') == y ? ' selected' : '')" (click)="selectYear($event, y)">
            {{ y }}
          </span>
        </div>
      </section>

      <!-- Time picker -->
      <section *ngIf="show === 'time'">
        <footer class="datepicker-buttons">
          <button *ngIf="!options.autoApply" type="button" class="a-button u-is-secondary u-is-small" (click)="today()">Today</button>
          <button *ngIf="!options.autoApply" type="button" class="a-button u-is-primary u-is-small" (click)="close()">Apply</button>
          <button type="button" class="a-button u-is-primary u-is-small" (click)="openDatePicker()">
            <app-fa name="calendar" fw="true"></app-fa>Date
          </button>
        </footer>
      </section>
    </div>

  </div>
</div>
