<div class="datepicker-container u-is-unselectable">
  <div class="datepicker-input-container">
    <input type="text" class="datepicker-input" [ngModel]="date.formatted" (ngModelChange)="modelChanged($event)" #dateInput/>
    <div class="datepicker-input-icon" (click)="toggle()">
      <fa name="calendar"></fa>
    </div>
  </div>

  <div class="datepicker-calendar" *ngIf="opened">
    <header class="datepicker-calendar-top">
      <span class="year-title">{{ currentDate.format('YYYY') }}</span>
      <button type="button" (click)="openYearPicker()" *ngIf="show === 'date'">
        <fa name="arrow-circle-right"></fa>
        Select Year
      </button>
      <fa name="times" class="close" (click)="close()"></fa>
    </header>
    <div class="datepicker-calendar-container">

      <!-- Date picker -->
      <section *ngIf="show === 'date'">
        <div class="datepicker-calendar-month-section">
          <fa name="backward" (click)="prevMonth()"></fa>
          <span class="month-title">{{ currentDate.format('MMMM') }}</span>
          <fa name="forward" (click)="nextMonth()"></fa>
        </div>
        <div class="datepicker-calendar-day-names">
          <span>S</span>
          <span>M</span>
          <span>T</span>
          <span>W</span>
          <span>T</span>
          <span>F</span>
          <span>S</span>
        </div>
        <div class="datepicker-calendar-days-container">
          <span class="day" *ngFor="let d of days; let i = index" (click)="selectDate($event, d.momentObj)" [ngClass]="{ 'disabled': !d.enabled, 'today': d.today, 'selected': d.selected }">
            {{ d.day }}
          </span>
        </div>
        <footer class="datepicker-buttons">
          <button *ngIf="!options.autoApply" type="button" class="a-button u-is-secondary u-is-small" (click)="today()">Today</button>
          <button *ngIf="!options.autoApply" type="button" class="a-button u-is-primary u-is-small" (click)="close()">Apply</button>
          <button type="button" class="a-button u-is-primary u-is-small" (click)="openTimePicker()" *ngIf="setTime">
            <fa name="clock-o" fw="true"></fa>Time
          </button>
        </footer>
      </section>

      <!-- Year picker -->
      <section *ngIf="show === 'year'">
        <div class="datepicker-calendar-years-container">
          <span *ngFor="let y of years; let i = index" [ngClass]="'year' + (currentDate.format('YYYY') == y ? ' selected' : '')" (click)="selectYear($event, y)">
            {{ y }}
          </span>
        </div>
      </section>

      <!-- Time picker -->
      <section *ngIf="show === 'time'" class="datepicker-calendar-clock">
        <div class="mask"></div>
        <div class="hours active">
          <div class="clock-num">3</div>
          <div class="clock-num">4</div>
          <div class="clock-num">5</div>
          <div class="clock-num">6</div>
          <div class="clock-num">7</div>
          <div class="clock-num">8</div>
          <div class="clock-num">9</div>
          <div class="clock-num">10</div>
          <div class="clock-num">11</div>
          <div class="clock-num">12</div>
          <div class="clock-num">1</div>
          <div class="clock-num">2</div>
          <div class="hands">
            <div class="hour-hand"></div>
          </div>
        </div>
        <div class="minutes">
          <div class="clock-num">15</div>
          <div class="clock-num">20</div>
          <div class="clock-num">25</div>
          <div class="clock-num">30</div>
          <div class="clock-num">35</div>
          <div class="clock-num">40</div>
          <div class="clock-num">45</div>
          <div class="clock-num">50</div>
          <div class="clock-num">55</div>
          <div class="clock-num">0</div>
          <div class="clock-num">5</div>
          <div class="clock-num">10</div>
          <div class="hands">
            <div class="hour-hand"></div>
          </div>
        </div>
        <footer class="datepicker-buttons">
          <button *ngIf="!options.autoApply" type="button" class="a-button u-is-secondary u-is-small" (click)="today()">Today</button>
          <button *ngIf="!options.autoApply" type="button" class="a-button u-is-primary u-is-small" (click)="close()">Apply</button>
          <button type="button" class="a-button u-is-primary u-is-small" (click)="openDatePicker()">
            <fa name="calendar" fw="true"></fa>Date
          </button>
        </footer>
      </section>
    </div>

  </div>
</div>
