<h1>
  <fa name="map-marker" fw="true"></fa>
  <span translate>Venue</span>
</h1>

<mat-table #table [dataSource]="venueSource" role="menu" matSort (matSortChange)="venueSource.sortData($event)">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let venue">{{ venue.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="contact">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Contact' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let venue">{{ venue.contact }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="rendalCost">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Rental cost' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let venue">{{ venue.rentalCost }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="address">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Address' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let venue">{{ venue.address }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="createdBy">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Created by' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let venue">{{ venue.createdBy.name }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let venue; columns: displayedColumns; let index=index" #dataRow [routerLink]="['.', venue.id]"></mat-row>
</mat-table>

<button mat-raised-button type="button" class="mat-primary" [title]="'Add' | translate" [routerLink]="['./add']" *appIfAuth="'Organizer'">
  <fa name="plus" fw="true"></fa>
  <span translate>Add Venue</span>
</button>
