@import "~styles/variables";

.table-responsive {
  padding-bottom: 2rem; // To make room for save button feedback
}

tr[role="listitem"] {
  &.male {
    background: rgba($primary, 0.05);
  }
  &.female {
    background: rgba($warning, 0.05);
  }
}

label.file-upload {
  position: relative;
  input[type="file"] {
    cursor: pointer;
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 999;
    margin: 0;
    padding: 0;
  }
}
