<div class="table-responsive">
  <table role="list" class="editable">
    <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Birth year</th>
        <th translate>Gender</th>
        <th translate>Teams</th>
      </tr>
    </thead>
    <tbody *ngFor="let member of memberList">
      <tr *ngIf="member !== selected" (click)="select(member)" role="listitem">
        <td>{{ member.name }}</td>
        <td>{{ member.birthYear }}</td>
        <td>{{ genderDivision(member) }}</td>
        <td [title]="teamsTitle(member)">{{ countTeams(member) }}</td>
      </tr>
      <tr *ngIf="member === selected">
        <td colspan="4">
          <app-member-editor [club]="club" [member]="selected" (memberChanged)="onChange($event)"></app-member-editor>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<button type="button" *ngIf="selected == null" [title]="'Add' | translate" (click)="addMember()">
  <app-fa name="plus" fw="true"></app-fa>
  <span translate>Add Member</span>
</button>
