<mat-table #table [dataSource]="memberSource" matSort (matSortChange)="memberSource.sortData($event)">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let member">{{ member.name }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="birthYear">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Birth year' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let member">{{ member.birthYear }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="gender">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Gender' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let member">{{ genderDivision(member) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="teams">
    <mat-header-cell *matHeaderCellDef>{{'Teams' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let member">{{ countTeams(member) }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let member; columns: displayedColumns; let index=index"
          matRipple #dataRow
          [routerLink]="['.', member.id]"
          [ngClass]="{'male': member.gender == genders.Male, 'female': member.gender == genders.Female, collapsed: selected == member}"></mat-row>
</mat-table>

<button mat-raised-button class="mat-accent" type="button" *ngIf="selected == null" [title]="'Add' | translate" (click)="addMember()">
  <i class="fa fa-fw fa-plus"></i>
  <span translate>Add Member</span>
</button>
<a mat-raised-button class="file-upload btn" *ngIf="selected == null" [title]="'Import' | translate">
  <input type="file" (change)="importMember($event)" accept=".csv">
  <i class="fa fa-fw fa-upload"></i>
  <span translate>Import Members</span>
</a>
<a mat-raised-button href="/api/clubs/{{ club.id }}/export-members" class="file-upload btn" *ngIf="club != null && selected == null && memberList && memberList.length > 0" [title]="'Import' | translate">
  <i class="fa fa-fw fa-download"></i>
  <span translate>Export Members</span>
</a>
