<h1>
  <app-fa name="user" fw="true"></app-fa>
  {{ userForm.value.name || 'User' }}
</h1>

<form class="panel" [formGroup]="userForm" (submit)="save()">
  <fieldset>
    <div class="row">
      <div class="col-xs-8" appFloatingLabelContainer>
        <label translate>Name</label>
        <input type="text" formControlName="name" appAutofocus>
      </div>
      <div class="col-xs-4" appFloatingLabelContainer *ngIf="userForm.value.id !== currentUser.id">
        <label translate>Role</label>
        <select formControlName="role">
          <option *ngFor="let role of roleNames" [ngValue]="role.id">{{role.name}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-7" appFloatingLabelContainer>
        <label translate>Email</label>
        <input type="email" formControlName="email">
      </div>
      <div class="col-5" appFloatingLabelContainer *ngIf="userForm.value.role === roles.Club">
        <label translate>Club</label>
        <input type="text" formControlName="club">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6" appFloatingLabelContainer>
        <label translate>Password</label>
        <input type="password" formControlName="password">
      </div>
      <div class="col-xs-6" appFloatingLabelContainer>
        <label translate>Repeat password</label>
        <input type="password" formControlName="repeatPassword">
      </div>
    </div>
  </fieldset>

  <footer>
    <button type="submit" title="Save" [disabled]="userForm.invalid || userForm.pristine"><app-fa name="save" fw="true"></app-fa> <span translate>Save</span></button>
    <button type="button" title="Cancel" (click)="cancel()"><app-fa name="ban" fw="true"></app-fa> <span translate>Cancel</span></button>
    <button type="button" *ngIf="userForm.value.id && userForm.value.id !== currentUser.id" title="Delete" class="pull-right warning" (click)="delete()"><app-fa name="trash" fw="true"></app-fa> <span translate>Delete</span></button>
  </footer>
</form>

<app-dialog [isOpen]="error != null" [noButtons]="true" (onCancel)="error = null">{{ error }}</app-dialog>