<h1>
  <app-fa name="user" fw="true"></app-fa>
  {{ userForm.value.name || 'User' }}
</h1>

<form class="panel" [formGroup]="userForm" (submit)="save()">
  <fieldset>
    <div class="row">
      <div [ngClass]="(userForm.value.id !== currentUser.id ? 'col-xs-8' : 'col-xs-12') + ' help-available'" appFloatingLabelContainer>
        <label translate>Name</label>
        <input type="text" formControlName="name" appAutofocus>
        <app-help-block>
          <p translate>The name you want to use for logging in to your account</p>
        </app-help-block>
      </div>
      <div class="col-xs-4" appFloatingLabelContainer *ngIf="userForm.value.id !== currentUser.id">
        <label translate>Role</label>
        <select formControlName="role">
          <option *ngFor="let role of roleNames" [ngValue]="role.id">{{role.name}}</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div [ngClass]="(userForm.value.id !== currentUser.id && currentUser.role >= roles.Admin ? 'col-xs-7' : 'col-xs-12') + ' help-available'" appFloatingLabelContainer>
        <label translate>Email</label>
        <input type="email" formControlName="email">
        <app-help-block>
          <p translate>The email address you provide for us will be used to contact you in regards to activity on your account.</p>
          <p translate>We may also contact you if a tournament opens up for registration, so you can enter your club to join</p>
        </app-help-block>
      </div>
      <div class="col-5 help-available" appFloatingLabelContainer *ngIf="userForm.value.role < roles.Admin && currentUser.role >= roles.Admin">
        <label translate>Club</label>
        <app-typeahead itemText="name" [items]="clubs" [getMatches]="getClubMatchesFn()" formControlName="club" [(selectedItem)]="selectedClub"></app-typeahead>
        <app-help-block>
          <p translate>We need to know which club you represent in order to provide you with the appropriate privileges.</p>
        </app-help-block>
        <!--<input type="text" formControlName="club">-->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 help-available" appFloatingLabelContainer>
        <label translate>Password</label>
        <input type="password" formControlName="password">
        <app-help-block>
          <p translate>Any password will do. We do not set restrictions. But please make sure it is not too easy.</p>
          <p translate>We suggest using a password generator for this: <a href="https://xkpasswd.net/s/" target="_blank">https://xkpasswd.net/s/</a></p>
        </app-help-block>
      </div>
      <div class="col-xs-6 help-available" appFloatingLabelContainer>
        <label translate>Repeat password</label>
        <input type="password" formControlName="repeatPassword">
        <app-help-block>
          <p translate>This needs to be exactly the same text as entered in the password field. Just to make sure you did not make any typos. :-)</p>
        </app-help-block>
      </div>
    </div>
  </fieldset>

  <footer>
    <app-save-button buttonType="submit" [disabled]="userForm.invalid || userForm.pristine"></app-save-button>
    <button type="button" [title]="'Cancel' | translate" (click)="cancel()"><app-fa name="ban" fw="true"></app-fa> <span translate>Cancel</span></button>
    <button type="button" *ngIf="userForm.value.id && userForm.value.id !== currentUser.id" [title]="'Delete' | translate" class="pull-right warning" (click)="delete()"><app-fa name="trash" fw="true"></app-fa> <span translate>Delete</span></button>
  </footer>
</form>
