<form class="panel" [formGroup]="scoreForm" (submit)="save()">
  <fieldset>
    <div class="row">
      <div class="col-10" appFloatingLabelContainer>
        <label>Name</label>
        <input type="text" formControlName="name">
      </div>
      <div class="col-2" appFloatingLabelContainer>
        <label>Type</label>
        <input type="text" formControlName="type">
      </div>
    </div>

    <div class="row">
      <div class="col-4" appFloatingLabelContainer>
        <label>Judges</label>
        <input type="number" formControlName="judges">
      </div>
      <div class="col-4" appFloatingLabelContainer>
        <label>Max Score</label>
        <input type="number" formControlName="max">
      </div>
      <div class="col-4" appFloatingLabelContainer>
        <label>Min Score</label>
        <input type="number" formControlName="min">
      </div>
    </div>
  </fieldset>
  <footer>
    <button type="submit" title="Save"><app-fa name="save" fw="true"></app-fa> <span>Save ScoreGroup</span></button>
    <button type="button" title="Cancel" (click)="close()"><app-fa name="ban" fw="true"></app-fa> <span>Cancel</span></button>
    <button *ngIf="scoreForm.value.id" title="Delete" class="pull-right warning" type="button" (click)="delete()"><app-fa name="trash" fw="true"></app-fa> <span>Delete ScoreGroup</span></button>
  </footer>
</form>
