<div class="table-responsive">
  <table role="list">
    <thead>
      <tr>
        <th translate>Tournament</th>
        <th translate>Team</th>
        <th translate>Score</th>
        <th translate>Position</th>
      </tr>
    </thead>
    <tbody *ngFor="let team of teamList">
      <tr role="listitem">
        <td>{{ team.tournament.name }}</td>
        <td>{{ team.team.name }}</td>
        <td>{{ score(team) }}</td>
        <td>{{ position(team) }}</td>
      </tr>
    </tbody>
  </table>
</div>
