<h2 *ngIf="tournament">
  <span>{{ tournament.name }}</span>
  <small>{{ tournament.startDate | date: 'dd.MM.yyyy' }}</small>
</h2>
<button type="button" class="pull-right primary raised" *ngIf="tournament" [routerLink]="['/list', tournament.id]">
  <app-fa name="list" fw="true"></app-fa>
  <span>List</span>
</button>

<div role="table">
  <div role="row">
    <section [routerLink]="['./1']">
      <div>
        <header>Landsturnstevnet 2017</header>
        <p>&nbsp;</p>
        <p>Arendal</p>
        <p>Gneist</p>
        <p>Sola</p>
      </div>
    </section>
    <section [routerLink]="['./2']">
      <div>
        Dette er en test. Mon tro om jeg får text wrapping på elementet?
      </div>
    </section>
  </div>
</div>

<aside>
  Click a panel to go fullscreen. Press <kbd>ESC</kbd> twice to return.
</aside>
