<header *ngIf="tournament">
  <h2 class="pull-left">{{ tournament.name }}</h2>
  <button type="button" class="pull-right primary raised" [routerLink]="['/list', tournament.id]">
    <app-fa name="list" fw="true"></app-fa>
    <span translate>List</span>
  </button>
  <button type="button" class="pull-right" *appIfAuth="'Organizer'" [routerLink]="['/configure/display']">
    <app-fa name="cog" fw="true"></app-fa>
    <span translate>Settings </span>
  </button>
  <small class="pull-right">{{ tournament.startDate | date: 'dd.MM.yyyy' }}</small>
</header>

<div role="table">
  <div role="row" *ngIf="display">
    <section [routerLink]="['./1']" class="displayContainer">
      <div [innerHtml]="display[0]" class="display"></div>
    </section>
    <section [routerLink]="['./2']" class="displayContainer">
      <div [innerHtml]="display[1]" class="display"></div>
    </section>
  </div>
</div>

<aside translate>Click a panel to go fullscreen. Press <kbd>ESC</kbd> twice to return.</aside>
