@import "~styles/variables";

:host {
  position: relative;
  display: block;
}
.buttons {
  text-align: right;
  @media (max-width: $stop1) {
    position: absolute;
    top: -2.4rem;
    left: 14px;
    .mat-button {
      min-width: 0;
      span {
        display: none;
      }
    }
  }
}

.mat-card ::ng-deep {
  padding: 0;
  overflow: hidden;
  margin-bottom: 1rem;
  .mat-card-header-text {
    margin: 0;
    width: 100%;
  }
}
.mat-card {
  .collapser {
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: -3px;
  }
  &.collapsed {
    margin-bottom: 0.5rem;
  }
  &.collapsed .collapser {
    transform: rotate(-90deg);
  }

  .mat-card-header {
    margin: 0;
  }

  .mat-card-title {
    margin: 0;
    color: white;
    background: $primary;
    padding: 0 10px;
    display: flex;
    height: 2rem;
    line-height: 2rem;
  }

  .mat-card-content {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
    justify-content: space-between;
    transition: max-height 0.2s;
    max-height: 10000px;
  }
  &.collapsed .mat-card-content {
    max-height: 0;
  }

  h3 {
    color: inherit;
    flex: 1;
  }
}

.flex-col {
  background-image: linear-gradient(to bottom, rgba($primary, 0.3) 0px, #fff 1px, #fff 42px, rgba($primary, 0.3) 43px);
  background-size: 100% 42px;
  background-position: 0px -4px;
}

table {
  min-width: 14rem;
  width: 100%;
  border-collapse: collapse;
  tr {
    th, td {
      padding: ($padding * 3) 5px;
      text-align: left;
      border-bottom: 1px solid transparent; // rgba($primary, 0.1);
      white-space: nowrap;
      overflow: hidden;
      max-width: 170px;
      text-overflow: ellipsis;
      height: 41px;
      &:first-child {
        padding-left: 10px;
      }
      &:last-child {
        padding-right: 10px;
      }
    }
    &:last-child td {
      border-bottom: 0;
    }
  }
  thead {
    th {
      background: lighten($primary, 20%);
    }
    td {
      color: black;
    }
  }
  tbody tr {
    td {
      opacity: 0.5;
      &:first-child {
        min-width: 130px;
        @media(max-width: $stop2) {
          width: 100%;
        }
      }
      &:last-child {
        width: 100%;
        @media(max-width: $stop2) {
          width: 0;
        }
      }
    }
    &.isPublished {
      td {
        opacity: 1;
      }
    }
  }
}

.score {
  text-align: right;
}
