@import '~styles/variables';

table[role="list"] {
  tr {
    &.deleted {
      text-decoration: line-through;
    }
    &.new td {
      background-color: rgba(lighten(green, 50%), 0.1);
    }

    &.day-split td {
      border-bottom-width: 2px;
      border-bottom-color: $text-color;
    }
    &.isStarted {
      font-style: italic;
      cursor: not-allowed;
    }

    td.icons {
      width: 41px;
      padding: 0;
    }
  }
}

