<div class="table-responsive">
  <table role="list">
    <thead>
      <tr>
        <th>#</th>
        <th translate class="visible-wide">Time</th>
        <th translate>Team</th>
        <th translate>Division</th>
        <th translate>Discipline</th>
        <th class="icons"></th>
      </tr>
    </thead>

    <tbody dragula="schedule-bag" [dragulaModel]="schedule" [dragulaOptions]="dragulaOptions">
      <tr *ngFor="let item of schedule" role="listitem" [title]="title(item)"
        [ngClass]="{'draggable': true, 'new': !item.id, 'day-split': isNewDay(item), unimportant: item.type === participationTypes.Training, 'isStarted': item.startTime}">
        <td *ngIf="item.type === participationTypes.Training">Tr</td>
        <td *ngIf="item.type === participationTypes.Live">#{{ item.startNumber + 1 }}</td>
        <td class="visible-wide" [innerHtml]="startTime(item)"></td>
        <td>{{ item.team.name }}</td>
        <td>{{ division(item.team) }}</td>
        <td><b *ngIf="item.team.class === classes.TeamGym">TG: </b>{{ item.discipline.name }}</td>
        <td class="icons"><button type="button" class="warning" (click)="deleteParticipant(item)" *ngIf="!item.startTime"><fa name="trash" fw="true"></fa></button>
      </tr>
    </tbody>
  </table>
</div>

<app-save-button buttonType="submit" (click)="saveSchedule()" [disabled]="!hasChanges()"></app-save-button>
<button type="button" (click)="calculateSchedule()" *ngIf="haveMissing()">
  <fa name="calculator" fw="true"></fa>
  <span translate>Calculate schedule</span>
</button>
<button type="button" *ngIf="canDeleteAll()" [title]="'Delete' | translate" class="pull-right warning" (click)="deleteAll()"><fa name="trash" fw="true"></fa> <span translate>Delete</span></button>
