@import '~styles/variables';
@import '~styles/panel';
:host {
  display: inline-block;
  >section {
    @include panel();
    div {
      padding: $padding;
    }
    footer {
      border-bottom-right-radius: $rounded;
      border-bottom-left-radius: $rounded;
      >* {
        margin: 10px $padding;
      }
    }
  }
}
