@import "~styles/variables";

table[role="list"] {
  tr[role="listitem"] {
    cursor: inherit;
    td {
      padding: 0 $padding * 3;
      label {
        line-height: $padding * 10;
        display: block;
        height: $padding * 10;
      }
      input {
        margin-right: 0.5rem;
      }
    }
  }
  thead th {
    padding-top: ($padding * 5.5);
    padding-bottom: 0;
    border-bottom: 1px solid $primary;
  }
}
header {
  margin-left: 1rem;
  app-slide-toggle {
    float: right;
    min-width: 10rem;
  }
}

td.media-head {
  padding-top: ($padding * 3);
  padding-left: ($padding * 6) !important;
  margin: 0 2px 2px 2px;
}
td.media {
  label.file-upload {
    position: relative;
    max-width: 40px;
    padding-top: 0;
    input[type="file"] {
      cursor: pointer;
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      z-index: 999;
      margin: 0;
      padding: 0;
    }
  }
}
