<form class="panel" [formGroup]="teamForm" (submit)="save()">
  <fieldset>
    <div class="row">
      <div class="col-12" appFloatingLabelContainer>
        <label>Name</label>
        <input type="text" formControlName="name" appAutofocus>
      </div>
    </div>
  </fieldset>
  <footer>
    <button type="submit" title="Save"><app-fa name="save" fw="true"></app-fa> <span>Save team</span></button>
    <button type="button" title="Cancel" (click)="close()"><app-fa name="ban" fw="true"></app-fa> <span>Cancel</span></button>
    <button type="button" *ngIf="teamForm.value.id" title="Delete" class="pull-right warning" (click)="delete()"><app-fa name="trash" fw="true"></app-fa> <span>Delete team</span></button>
  </footer>
</form>
