@import "~styles/variables";
header {
  padding-top: 1rem;
  line-height: 3em;
  &.hidden {
    display: none;
  }
  &::after {
    content: '';
    display: table;
    clear: both;
  }
  small {
    font-size: 0.8em;
    line-height: normal;
    font-weight: normal;
    display: block;
  }

  button.active {
    display: none;
  }
}
