<header *ngIf="tournament">
  <small>{{ tournament.startDate | date: 'dd.MM' }} - {{ tournament.endDate | date: 'dd.MM' }} {{ tournament.endDate | date: 'yyyy' }}</small>
  <h2 class="pull-left">{{ tournament.name }}</h2>

  <button type="button" class="pull-right primary raised" [routerLink]="['./list']" [routerLinkActive]="['active']">
    <app-fa name="list" fw="true"></app-fa>
    <span translate>List</span>
  </button>

  <button type="button" class="pull-right primary raised" [routerLink]="['./results']" [routerLinkActive]="['active']">
    <app-fa name="trophy" fw="true"></app-fa>
    <span translate>Results </span>
  </button>

  <button type="button" class="pull-right primary raised" *appIfAuth="'Secretariat'" [routerLink]="['./display']" [routerLinkActive]="['active']">
    <app-fa name="tv" fw="true"></app-fa>
    <span translate>Display </span>
  </button>

  <button type="button" class="pull-right" *appIfAuth="'Organizer'" [routerLink]="['/configure/tournament', tournament.id]">
    <app-fa name="cog" fw="true"></app-fa>
    <span translate>Settings </span>
  </button>
</header>

<router-outlet></router-outlet>
