<header *ngIf="tournament">
  <small>{{ tournament.startDate | date: 'dd.MM' }} - {{ tournament.endDate | date: 'dd.MM' }} {{ tournament.endDate | date: 'yyyy' }}</small>
  <h2 class="pull-left">{{ tournament.name }}</h2>

  <div class="pull-right buttons">
    <button mat-raised-button type="button" *appIfAuth="'Organizer'" [routerLink]="['/configure/tournament', tournament.id]">
      <fa name="cog" fixed="true"></fa>
      <span translate>Settings </span>
    </button>
    <button mat-raised-button type="button" class="mat-primary flat" [routerLink]="['./list']" [routerLinkActive]="['active']">
      <fa name="list" fixed="true"></fa>
      <span translate>List</span>
    </button>
    <button mat-raised-button type="button" class="mat-primary flat" [routerLink]="['./results']" [routerLinkActive]="['active']">
      <fa name="trophy" fixed="true"></fa>
      <span translate>Results </span>
    </button>
    <button mat-raised-button type="button" class="mat-primary flat" *appIfAuth="'Secretariat'" [routerLink]="['./display']" [routerLinkActive]="['active']">
      <fa name="tv" fixed="true"></fa>
      <span translate>Display </span>
    </button>
  </div>
</header>

<router-outlet></router-outlet>
