<div class="table-responsive">
  <table role="list" [dragula]="'discipline-bag'" [dragulaModel]="disciplineList" class="editable">
    <tbody *ngFor="let discipline of disciplineList | orderBy: 'sortOrder'">
      <tr *ngIf="discipline !== selected" (click)="select(discipline)" role="listitem" class="draggable">
        <td class="nowrap">
          <i class="fa fa-fw fa-square" [attr.discipline]="discipline.sortOrder"></i>
          {{ discipline.name }}
        </td>
        <td>
          ({{ judges(discipline).length }}) {{ judges(discipline).join(', ') }}
        </td>
      </tr>
      <tr *ngIf="discipline === selected" class="static">
        <td colspan="2">
          <app-discipline-editor [discipline]="selected" (disciplineChanged)="onChange($event)" [standalone]="standalone"></app-discipline-editor>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<button mat-raised-button type="button" class="mat-accent" *ngIf="selected == null" [title]="'Add' | translate" (click)="addDiscipline()">
  <i class="fa fa-fw fa-plus"></i>
  <span translate>Add Disciplines</span>
</button>
<button mat-raised-button type="button" *ngIf="selected == null && canAddDefaults" [title]="'Add default' | translate" (click)="addDefaults()">
  <i class="fa fa-fw fa-plus-circle"></i>
  <span translate>Add Default Disciplines</span>
</button>
