@import '~styles/form';
@import '~styles/variables';

:host {
  display: flex;
  .range-container {
    position: relative;
    height: $inputHeight;
    line-height: $inputHeight;
    flex: 1;
  }

  output {
    min-width: 4rem;
  }


  input[type="range"] {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: top;
    position: absolute;
    border: 0;
    &:focus {
      box-shadow: none;
    }
    &.low {
      &::-webkit-slider-thumb {
        position: relative;
        z-index: 2;
      }
      &::-moz-range-thumb {
        transform: scale(1);
        /* FF doesn't apply position it seems */
        z-index: 1;
      }
      &::-moz-range-track, &::-webkit-range-track {
        background: #eee;
      }
    }
    &::-moz-range-track {
      border-color: transparent;
      /* needed to switch FF to "styleable" control */
    }
    &.high {
      $background: linear-gradient(to right, transparent var(--low), $primary 0, $primary var(--high), transparent 0) no-repeat 0 45% / 100% 40%;
      &::-webkit-slider-runnable-track {
        background: $background;
      }
      &::-moz-range-track, &::-webkit-range-track {
        background: $background;
      }
    }
  }


  .ticks {
    display: flex;
    justify-content: space-between;
    height: 6px;
    width: 99%;
    transform: translate(0, 14px);
    padding: 0 6px;
    counter-reset: count -1;
    > option {
      height: 6px;
      width: 1px;
      border-right: 1px solid lighten($text-color, 40%);
      counter-increment: count 1;
      padding: 0;
      margin: 0;
      font-size: 1px;
      &:nth-child(3n + 1) {
        height: 12px;
        border-color: $text-color;
        &::before {
          content: counter(count,decimal);
          display: block;
          transform: translate(-45%, -80%);
          text-align: center;
          width: 16px;
          font-size: 9px;
          line-height: 22px;
        }
      }
    }
  }
}
