@import "~styles/variables";

:host {
  $helpColor: $primary;
  $helpBorder: darken($helpColor, 10%);

  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 0;
  vertical-align: top;
  opacity: 0;
  transition: opacity 0.5s ease-in;
  .fa {
    color: darken($helpColor, 50%);
    font-size: 1.2rem;
    padding: 6px;
    &:hover +.help {
      display: block;
    }
  }
  .help {
    position: absolute;
    right: -25%;
    display: none;
    padding: 0 $padding;
    margin: 0 10px;
    z-index: 100;
    margin-left: -38px;
    min-width: 200px;
    top: 1.5rem;
    &:hover {
      display: block;
    }
    &:before {
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      background: $helpColor;
      border-style: solid;
      border-color: $helpBorder;
      border-width: 1px 0 0 1px;
      transform: rotate(45deg);
      position: absolute;
      top: -5px;
      right: 12px;
    }
  }
}
