<h1>
  <app-fa name="cogs" fw="true"></app-fa>
  <span translate>Advanced settings</span>
</h1>

<!-- Div configurational objects -->
<form (submit)="save()" class="horizontal" [formGroup]="configForm">

  <section>
    <h2 translate>Default participant execution time</h2>
    <div class="row">
      <div class="col-xs-5" appFloatingLabelContainer>
        <label translate>Execution time in minutes</label>
        <input type="number" name="executionTime" formControlName="executionTime" />
      </div>
    </div>
  </section>

  <section class="ageLimits">
    <h2 translate>Age limits</h2>
    <div class="col-3">
      <label translate>Aspirant</label>
      <div class="col-xs-6" appFloatingLabelContainer>
        <label translate>Min</label>
        <input type="number" name="aspirant-min" formControlName="agelimit.aspirant.min" />
      </div>
      <div class="col-xs-6" appFloatingLabelContainer>
        <label translate>Max</label>
        <input type="number" name="aspirant-max" formControlName="agelimit.aspirant.max" />
      </div>
    </div>
    <div class="col-3">
      <label translate>Rekrutt</label>
      <div class="col-xs-6" appFloatingLabelContainer>
        <label translate>Min</label>
        <input type="number" name="rekrutt-min" formControlName="agelimit.rekrutt.min" />
      </div>
      <div class="col-xs-6" appFloatingLabelContainer>
        <label translate>Max</label>
        <input type="number" name="rekrutt-max" formControlName="agelimit.rekrutt.max" />
      </div>
    </div>
    <div class="col-3">
      <label translate>Junior</label>
      <div class="col-xs-6" appFloatingLabelContainer>
        <label translate>Min</label>
        <input type="number" name="junior-min" formControlName="agelimit.junior.min" />
      </div>
      <div class="col-xs-6" appFloatingLabelContainer>
        <label translate>Max</label>
        <input type="number" name="junior-max" formControlName="agelimit.junior.max" />
      </div>
    </div>
    <div class="col-3">
      <label translate>Senior</label>
      <div class="col-xs-6" appFloatingLabelContainer>
        <label translate>Min</label>
        <input type="number" name="senior-min" formControlName="agelimit.senior.min" />
      </div>
      <div class="col-xs-6" appFloatingLabelContainer>
        <label translate>Max</label>
        <input type="number" name="senior-max" formControlName="agelimit.senior.max" />
      </div>
    </div>
  </section>


  <!-- Default types and values -->
  <section>
    <h2 translate>Default values</h2>

    <menu role="tablist">
      <ul>
        <li (click)="selected = 'division'" [ngClass]="{'active': selected === 'division'}">
          <a><app-fa name="cubes" fw="true"></app-fa> <span translate>Divisions</span></a>
        </li>
        <li (click)="selected = 'discipline'" [ngClass]="{'active': selected === 'discipline'}">
          <a><app-fa name="heartbeat" fw="true"></app-fa> <span translate>Disciplines</span></a>
        </li>
        <li (click)="selected = 'scoreGroup'" [ngClass]="{'active': selected === 'scoreGroup'}">
          <a><app-fa name="star" fw="true"></app-fa> <span translate>Score system</span></a>
        </li>
      </ul>
    </menu>

    <div class="tab-panel">
      <div *ngIf="selected === 'scoreGroup'">
        <app-score-system [scoreGroupList]="defaultValues.scoreGroup" (scoreGroupListChanged)="valueChanged('scoreGroup', $event)" [standalone]="true"></app-score-system>
      </div>
      <div *ngIf="selected === 'discipline'">
        <app-disciplines [disciplineList]="defaultValues.discipline" (disciplineListchanged)="valueChanged('discipline', $event)" [standalone]="true"></app-disciplines>
      </div>
      <div *ngIf="selected === 'division'">
        <app-divisions [divisions]="defaultValues.division" (divisionsChanged)="valueChanged('division', $event)" [standalone]="true"></app-divisions>
      </div>
    </div>
  </section>

  <div class="row">
    <app-save-button buttonType="submit" [disabled]="configForm.invalid"></app-save-button>
  </div>
</form>
