// Settings
$padding: 4px;
$negPad: (0 - $padding);
$rounded: 4px;
$margin: 0.3rem;
$navHeight: 3.5rem;
$rowHeight: 50px;

// Colors
// $primary: #69f;
// $primary: rgb(77, 66, 58);
$primary: rgb(160, 78, 20);
$primaryDark: darken($primary, 10%);
$primaryLight: lighten($primary, 25%);

$accent: complement($primary);
$accentDark: darken(complement($primaryDark), 20%);

$success: #5cb85c;
$warning: #c9302c;

$navbar-color: lighten($primary, 42%);
$navbar-height: $rowHeight;

$panel-color: lighten($primary, 42%);
$panel-height: $rowHeight;
$primaryBorderColor: darken($panel-color, 18%);

$text-color: #343434;
$background: desaturate(lighten($primary, 60%), 30%);

// Screen stops
$stop0: 64rem;
$stop1: 43rem;
$stop2: 30rem;

$inputHeight: 33px;
$labelHeight: 16px;
