<div class="row">

  <section class="col-6">
    <header>
      <h2>
        <app-fa name="venus-mars" fw="true"></app-fa>
        <span translate>Gender group</span>
      </h2>
    </header>
    <table role="list" [dragula]="'gender-bag'" [dragulaModel]="genderDivisions" class="editable">
      <tbody *ngFor="let division of genderDivisions">
        <tr *ngIf="division !== selected" (click)="select(division)" role="listitem" class="draggable">
          <td>{{ division.name }}</td>
        </tr>
        <tr *ngIf="division === selected" class="static">
          <td colspan="1">
            <app-division-editor [division]="selected" (divisionChanged)="onChange($event)"></app-division-editor>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="col-6">
    <header>
      <h2>
        <app-fa name="child" fw="true"></app-fa>
        <span translate>Age group</span>
      </h2>
    </header>
    <table role="list" [dragula]="'age-bag'" [dragulaModel]="ageDivisions" class="editable">
      <tbody *ngFor="let division of ageDivisions">
        <tr *ngIf="division !== selected" (click)="select(division)" role="listitem">
          <td>{{ division.name }}</td>
        </tr>
        <tr *ngIf="division === selected" class="static">
          <td colspan="1">
            <app-division-editor [division]="selected" (divisionChanged)="onChange($event)"></app-division-editor>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

</div>
<div *ngIf="selected && !selected.type">
  <app-division-editor [division]="selected" (divisionChanged)="onChange($event)"></app-division-editor>
</div>
<button type="button" *ngIf="selected == null" title="Add" (click)="addDivision()">
  <app-fa name="plus" fw="true"></app-fa>
  <span translate>Add Divisions</span>
</button>
<button type="button" *ngIf="selected == null && canAddDefaults" title="Add default" (click)="addDefaults()">
  <app-fa name="plus-circle" fw="true"></app-fa>
  <span translate>Add Default Divisions</span>
</button>