<div class="row">

  <section class="col-6">
    <header>
      <h2>
        <fa name="venus-mars" fw="true"></fa>
        <span translate>Gender group</span>
      </h2>
    </header>
    <div class="table-responsive">
      <table role="list" [dragula]="'gender-bag'" [dragulaModel]="genderDivisions" class="editable">
        <tbody *ngFor="let division of genderDivisions | orderBy: 'sortOrder'">
          <tr *ngIf="division !== selected" (click)="select(division)" role="listitem" class="draggable">
            <td>{{ division.name }}</td>
          </tr>
          <tr *ngIf="division === selected" class="static">
            <td colspan="1">
              <app-division-editor [division]="selected" (divisionChanged)="onChange($event)" [standalone]="standalone"></app-division-editor>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="col-6">
    <header>
      <h2>
        <fa name="child" fw="true"></fa>
        <span translate>Age group</span>
      </h2>
    </header>
    <div class="table-responsive">
      <table role="list" [dragula]="'age-bag'" [dragulaModel]="ageDivisions" class="editable">
        <tbody *ngFor="let division of ageDivisions | orderBy: 'sortOrder'">
          <tr *ngIf="division !== selected" (click)="select(division)" role="listitem">
            <td>{{ division.name }}</td>
          </tr>
          <tr *ngIf="division === selected" class="static">
            <td colspan="1">
              <app-division-editor [division]="selected" (divisionChanged)="onChange($event)" [standalone]="standalone"></app-division-editor>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

</div>
<div *ngIf="selected && !selected.type">
  <app-division-editor [division]="selected" (divisionChanged)="onChange($event)" [standalone]="standalone"></app-division-editor>
</div>
<button type="button" *ngIf="selected == null" [title]="'Add' | translate" (click)="addDivision()">
  <fa name="plus" fw="true"></fa>
  <span translate>Add Divisions</span>
</button>
<button type="button" *ngIf="selected == null && canAddDefaults" [title]="'Add default' | translate" (click)="addDefaults()">
  <fa name="plus-circle" fw="true"></fa>
  <span translate>Add Default Divisions</span>
</button>
