<div class="fixed-back"></div>

<form class="panel" [formGroup]="loginForm" (submit)="login()">
  <section class="col-6 login">
    <header>
      <h3 translate>Login</h3>
    </header>
    <fieldset>
      <div class="row">
        <mat-form-field class="col-xs-12">
          <input matInput type="text" formControlName="username" placeholder="{{'Username' | translate}}" appAutofocus autocomplete="username" />
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field class="col-xs-12">
          <input matInput type="password" formControlName="password" placeholder="{{'Password' | translate}}" autocomplete="current-password"/>
        </mat-form-field>
      </div>
    </fieldset>
    <footer>
      <button mat-raised-button class="mat-primary" type="submit" [title]="'Login' | translate" [disabled]="loginForm.invalid || loginForm.pristine" aria-label="Login">
        <i class="fa fa-fw fa-sign-in"></i> <span translate>Login</span>
      </button>
    </footer>
  </section>

  <section class="col-6 register">
    <div class="content">
      <header>
        <h3 translate>Register</h3>
      </header>
      <span class="text" translate>
        If you are a club representative, you can register to login to our system in order to add teams from your club to any tournaments.
      </span>
    </div>
    <footer>
      <a mat-button [title]="'Register' | translate" [routerLink]="['../register']" aria-label="Register new user">
        <i class="fa fa-fw fa-user-plus"></i> <span translate>Register</span></a>
    </footer>
  </section>
</form>
