<table role="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Division</th>
      <th>Disciplines</th>
    </tr>
  </thead>
  <tbody *ngFor="let team of teamList">
    <tr *ngIf="team !== selected" (click)="select(team)" role="listitem">
      <td>{{ team.name }}</td>
      <td>{{ divisions(team) }}</td>
      <td>{{ disciplines(team) }}</td>
    </tr>
    <tr *ngIf="team === selected">
      <td colspan="3">
        <app-team-editor [team]="selected" (teamChanged)="onChange($event)"></app-team-editor>
      </td>
    </tr>
  </tbody>
</table>

<button type="button" *ngIf="selected == null" title="Add" (click)="addTeam()">
  <app-fa name="plus" fw="true"></app-fa>
  <span>Add Team</span>
</button>
