<mat-table #table [dataSource]="teamSource" role="menu" matSort (matSortChange)="teamSource.sortData($event)">
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Name' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let team">{{ team.name  }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="division">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Division' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let team">{{ divisions(team) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="disciplines">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Disciplines' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let team"><span [innerHTML]="disciplines(team)"></span></mat-cell>
  </ng-container>
  <ng-container matColumnDef="club">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'Club' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let team">{{ team.club.name }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
  <mat-row *matRowDef="let team; columns: displayColumns; let index=index" #dataRow [routerLink]="['.', team.id]"></mat-row>
</mat-table>

<!-- <div class="table-responsive">
  <table role="list" class="editable">
    <thead>
      <tr>
        <th translate>Name</th>
        <th translate>Division</th>
        <th translate>Disciplines</th>
        <th translate>Club</th>
      </tr>
    </thead>
    <tbody *ngFor="let team of teamList" [ngClass]="{'unselectable': !canSelect(team)}" [title]="title(team)">
      <tr *ngIf="team !== selected" (click)="select(team)" role="listitem">
        <td>{{ team.name }}</td>
        <td>{{ divisions(team) }}</td>
        <td [innerHTML]="disciplines(team)"></td>
        <td>{{ team.club ? team.club.name : '' }}</td>
      </tr>
      <tr *ngIf="team === selected">
        <td colspan="4">
          <app-team-editor [tournament]="tournament" [team]="selected" (teamChanged)="onChange($event)"></app-team-editor>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->

<button mat-raised-button type="button" class="mat-accent" [title]="'Add' | translate" (click)="addTeam()" [disabled]="!hasFreeSlots">
  <fa name="plus" fixed="true"></fa>
  <span translate>Add Team</span>
</button>

<span [title]="'positions taken / positions available' | translate" *ngIf="hasFreeSlots">{{ takenSlots }} / {{ availableSlots }}</span>
<span *ngIf="!hasFreeSlots && !hasStarted()" class="warning" [title]="'We\'ve filled all available positions of this tournament.' | translate">
  <fa name="warning" fixed="true"></fa>
  <span translate>We're sorry, registration is closed!</span>
</span>
<span *ngIf="hasStarted()" class="warning">
  <fa name="warning" fixed="true"></fa>
  <span translate>We're sorry, registration is closed!</span>
  <span translate>This tournament has allready started</span>
</span>
