<h1>
  <app-fa name="tv" fw="true"></app-fa>
  <span translate>Display</span>
</h1>

<form class="panel">
  <div role="table">
    <div role="row">
      <section *ngFor="let template of templates; let i = index;">
        <app-macro-dialog></app-macro-dialog>
        <textarea title="{{ template.title }}" name="{{'template' + i}}" [(ngModel)]="template.content" rows="20">{{ template.content }}</textarea>
      </section>
    </div>
  </div>
  <footer>
    <button type="submit" [title]="'Save' | translate" (click)="save()"><app-fa name="save" fw="true"></app-fa> <span translate>Save</span></button>
  </footer>
</form>
